html {
  font-size: 14px; }

.clear {
  clear: both; }

header .navbar.home {
  padding-top: 43px;
  font-family: 'roboto_slabbold'; }
  header .navbar.home a.lupa {
    margin-right: 50px;
    display: none;
    text-decoration: none; }
    header .navbar.home a.lupa .ico-buscador::before {
      color: #2a3b7d;
      font-size: 20px; }

.navbar-brand img {
  max-width: 236px; }

.navbar-brand img.scroll {
  display: none; }

.navbar-inverse .navbar-nav .nav-link,
.navbar-inverse .navbar-nav .nav-link:hover,
.navbar-inverse .navbar-nav .nav-link:focus {
  font-size: 0.93rem;
  color: white;
  border-bottom: 3px solid transparent; }

.navbar-inverse .navbar-nav .nav-link:hover {
  border-bottom: 3px solid #b8182b; }

header .info {
  position: absolute;
  width: 100%;
  min-height: 37px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  font-family: 'robotoregular';
  font-size: 0.86rem;
  color: #FFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  header .info .container {
    min-height: 37px; }
    header .info .container > div {
      float: right;
      margin-top: 7px; }
  header .info span {
    padding-right: 11px; }
    header .info span b {
      font-family: 'robotobold';
      font-weight: normal; }
  header .info .carrito {
    position: relative; }
    header .info .carrito span.ico-carrito {
      display: inline-block;
      vertical-align: middle;
      font-size: 21px;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      padding: 0 0 0 11px; }
    header .info .carrito .ico-carrito.active {
      border-left: 1px solid #444444; }
    header .info .carrito span.punto {
      position: absolute;
      display: none;
      height: 10px;
      width: 10px;
      top: -2px;
      right: -5px;
      background-color: #f43b3b;
      border-radius: 10px; }
header h5 {
  display: inline-block;
  font-size: 0.86rem;
  margin-top: 11px; }

.ico-carrito.active::before {
  color: #2a3b7d; }

#carrusel-principal .carousel-item img.d-block {
  width: 100%; }

#carrusel-principal .carousel-caption.d-md-block {
  max-width: 631px;
  right: 30%;
  left: 30%;
  bottom: 115px; }

#carrusel-principal .carousel-caption h4 {
  font-family: 'roboto_slabbold';
  font-size: 1.45rem;
  color: #f4d101;
  letter-spacing: 0.25em;
  margin-bottom: 0.4rem; }
#carrusel-principal .carousel-caption h3 {
  font-family: 'roboto_slabbold';
  font-size: 3.15rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }
#carrusel-principal .carousel-caption p {
  font-family: 'robotomedium_italic';
  font-size: 1.22rem;
  line-height: 22px;
  margin-bottom: 1.3rem; }
#carrusel-principal .carousel-caption div span {
  display: inline-block;
  height: 3px;
  width: 124px;
  background-color: #fff; }
#carrusel-principal .carousel-caption div a.btn {
  background-color: transparent;
  border-color: #fff;
  font-family: 'roboto_slabbold';
  font-size: 1.22rem;
  border-radius: 8px;
  padding: 1rem 2.4rem; }
#carrusel-principal .carousel-caption div a.btn:hover {
  background-color: #b8182b;
  border-color: #b8182b; }

#carrusel-principal .carousel-item .sombra {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100% !important;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#001e51), to(transparent));
  background: linear-gradient(-180deg, #001e51 0%, transparent 100%);
  z-index: 5; }

#carrusel-principal .carousel-control-prev-icon, #carrusel-principal .carousel-control-next-icon {
  background-image: none;
  height: 18px;
  width: 18px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#carrusel-principal .carousel-control-next-icon {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

#carrusel-principal .carousel-item {
  opacity: 0.85;
  -webkit-transition: opacity 0.9s ease-in-out;
  transition: opacity 0.9s ease-in-out; }

#carrusel-principal .carousel-item.active {
  opacity: 1; }

.form-control::-webkit-input-placeholder {
  color: #cdd4dc; }

.form-control:-moz-placeholder {
  color: #cdd4dc; }

.form-control::-moz-placeholder {
  color: #cdd4dc; }

.form-control:-ms-input-placeholder {
  color: #cdd4dc; }

form {
  margin-top: -40px; }
  form .container {
    padding: 0 75px; }
    form .container .row {
      border-radius: 4px;
      -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
      background-color: #ffffff; }
      form .container .row div {
        padding: 0; }
        form .container .row div .form-control {
          height: 80px !important;
          border: none;
          font-family: 'robotoregular';
          font-size: 1.14rem;
          width: 100% !important;
          color: #444444; }
        form .container .row div input[type="text"] {
          padding: 7px 37px; }
        form .container .row div .select {
          width: 100%;
          overflow: hidden;
          background: #fff url("../img/flecha_abajo.svg") no-repeat 90% center;
          font-size: 1.14rem;
          font-family: 'robotoregular'; }
          form .container .row div .select select {
            padding: 5px 8px 5px 38px;
            width: 130%;
            font-size: 1.14rem;
            border: none;
            -webkit-box-shadow: none;
                    box-shadow: none;
            background-color: transparent;
            background-image: none;
            -webkit-appearance: none;
               -moz-appearance: none;
                    appearance: none; }
          form .container .row div .select .border {
            display: inline-block;
            height: 57px;
            width: 1px;
            margin: 11px;
            background-color: #cdd4dd; }
        form .container .row div select.form-control.placeholder {
          color: #cdd4dc; }
        form .container .row div select.form-control {
          color: #444444; }
    form .container button.btn-primary {
      height: 80px;
      width: 101%;
      background: url("../img/lupa.svg") center center no-repeat;
      background-size: 24px 24px;
      background-color: #56a232;
      border: none;
      text-indent: -9999px;
      cursor: pointer;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    form .container button.btn-primary:hover {
      background-color: #27600b; }

footer {
  position: relative;
  height: 556px;
  background-color: #293a7d; }
  footer .redes {
    background-color: #FFF;
    margin: 0;
    padding: 11px 0 0;
    text-align: center; }
    footer .redes h3 {
      display: inline-block;
      font-size: 1rem;
      margin-right: 10px; }
    footer .redes ul {
      text-align: center;
      display: inline-block; }
      footer .redes ul li {
        display: inline-block;
        margin: 8px 11px; }
        footer .redes ul li a {
          display: inline-block;
          height: 30px;
          font-family: 'robotobold';
          font-size: 1rem;
          color: #2a3b7d;
          padding: 0px; }
          footer .redes ul li a img {
            height: 30px;
            width: 30px;
            margin-right: 6px;
            margin-top: -3px; }
        footer .redes ul li a:hover {
          color: #2a3b7d; }
  footer div {
    font-family: 'robotomedium';
    font-size: 0.94rem;
    color: white; }
  footer .col-md-2 {
    position: relative;
    padding-top: 55px;
    max-width: 14%; }
    footer .col-md-2 span.borde {
      position: absolute;
      top: 48px;
      right: 5px;
      width: 1px;
      height: 196px;
      display: block;
      background-color: #409cff; }
  footer .col-md-2.first {
    max-width: 16%; }
  footer h3 {
    font-size: 0.94rem;
    font-family: 'roboto_slabbold';
    line-height: 21px;
    color: #419cff; }
  footer ul li a {
    font-family: 'robotomedium';
    font-size: 0.94rem;
    color: white; }
  footer ul li a:hover {
    color: #f4d101; }
  footer > img {
    position: absolute;
    display: inline-block;
    width: 30%;
    max-width: 270px !important;
    bottom: 0;
    left: 50%;
    margin-left: -10%; }

.interes {
  background-color: #F9FAFB;
  padding-bottom: 3.6rem; }
  .interes .container h2 {
    width: 100%;
    font-family: 'roboto_slabbold';
    font-size: 3.1rem;
    color: #8f97a2;
    margin: 5rem 0 4.6rem; }
  .interes .container .col-md-3 {
    margin-bottom: 30px; }
    .interes .container .col-md-3 img {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px; }
    .interes .container .col-md-3 div {
      background-color: #ffffff;
      border-radius: 4px;
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
      padding-bottom: 20px; }
    .interes .container .col-md-3 h3 {
      font-family: 'roboto_slabbold';
      font-size: 1.29rem;
      color: #b8182b;
      margin-bottom: 5px;
      margin-top: 17px; }
    .interes .container .col-md-3 span {
      font-family: 'robotoregular';
      font-size: 1rem;
      color: #8f97a2;
      margin-bottom: 22px; }
    .interes .container .col-md-3 a.btn {
      background-color: transparent;
      border-color: #56a232;
      color: #56a232;
      font-family: 'roboto_slabregular';
      font-size: 1.08rem;
      border-radius: 8px;
      padding: 11px 1.6rem 10px; }
    .interes .container .col-md-3 a.btn:hover {
      background-color: #56a232;
      color: #FFFFFF; }

.nuestros-mun {
  background-image: url("../img/nuestrosmuni.jpg");
  background-size: 100%;
  /*background: linear-gradient(-180deg, rgba(41, 58, 125, 0.45) 0%, rgba(31, 45, 103, 1) 100%);*/
  padding-bottom: 66px; }
  .nuestros-mun .container h2 {
    width: 100%;
    font-family: 'roboto_slabbold';
    color: #fff;
    font-size: 3.1rem;
    margin: 5rem 0 4.6rem; }
  .nuestros-mun .container .col-md-6 > div {
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    background-color: #56a232; }
  .nuestros-mun .container .col-md-6 h3 {
    font-family: 'roboto_slabbold';
    font-size: 1.73rem;
    color: #27600c; }
  .nuestros-mun .container .col-md-6 p {
    font-family: 'robotoregular';
    font-size: 1rem;
    line-height: 22px;
    color: #fff; }
  .nuestros-mun .container .col-md-6 .informacion {
    position: relative;
    display: inline-block;
    width: 49%;
    padding: 24px; }
  .nuestros-mun .container .col-md-6 img {
    display: inline-block;
    width: 50%;
    float: right;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }
  .nuestros-mun .container .col-md-6 a {
    position: absolute;
    right: 23px;
    font-family: 'robotoregular';
    color: #f4d101;
    font-size: 1rem;
    text-align: left; }
    .nuestros-mun .container .col-md-6 a span {
      vertical-align: middle;
      margin-left: 7px; }
  .nuestros-mun .container .col-md-6 a:hover {
    text-decoration: none;
    color: #fff; }
    .nuestros-mun .container .col-md-6 a:hover span:before {
      color: #fff; }

.carruseles {
  padding: 90px 0 40px; }
  .carruseles .container .row > div {
    text-align: center;
    margin-bottom: 50px; }
  .carruseles h2 {
    width: 100%;
    font-family: 'roboto_slabbold';
    font-size: 1.72rem;
    color: #cdd4dc;
    text-align: left;
    margin-bottom: 2rem; }
  .carruseles a {
    position: absolute;
    top: 5px;
    right: 18px;
    font-family: 'robotoregular';
    font-size: 1.08rem;
    color: #cdd4dc;
    text-align: left; }
    .carruseles a span {
      vertical-align: middle;
      margin-left: 6px; }
    .carruseles a span:before {
      color: #cdd4dc; }
  .carruseles a:hover {
    text-decoration: none;
    color: #2a3b7d; }
    .carruseles a:hover span:before {
      color: #2a3b7d; }
  .carruseles .carousel-indicators {
    bottom: -45px; }
    .carruseles .carousel-indicators li {
      background-color: white;
      border: 1px solid #293a7d;
      height: 10px;
      max-width: 10px !important;
      border-radius: 5px; }
    .carruseles .carousel-indicators .active {
      background-color: #293a7d; }

.carruseles .sombra {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100% !important;
  height: 60%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#001e51));
  background: linear-gradient(-180deg, transparent 0%, #001e51 100%);
  z-index: 10;
  border-radius: 4px !important; }

.carruseles .carousel {
  border-radius: 4px !important;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3); }

.carruseles .carousel-item {
  color: #fff;
  border-radius: 10px;
  border-radius: 4px !important; }
  .carruseles .carousel-item img {
    max-height: 375px;
    border-radius: 4px !important; }
  .carruseles .carousel-item h4 {
    position: absolute;
    top: 35px;
    left: 0;
    display: inline-block;
    padding: 0.72rem 0.5rem 0.65rem 1.58rem;
    height: 38px;
    font-family: 'robotomedium_italic';
    font-size: 1.15rem;
    background-color: #f99c17;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3); }
    .carruseles .carousel-item h4 span {
      position: absolute;
      top: 0px;
      right: -19px;
      width: 0;
      height: 0;
      border-left: 19px solid #f99c17;
      border-top: 19px solid transparent;
      border-bottom: 19px solid transparent; }
  .carruseles .carousel-item h3 {
    display: block;
    width: 100%;
    max-width: 710px;
    padding: 0 2.65rem;
    margin: 0;
    position: absolute;
    bottom: 30px;
    left: 0;
    font-family: 'roboto_slabbold';
    font-size: 1.72rem;
    line-height: 32px;
    z-index: 20;
    text-align: left; }
  .carruseles .carousel-item .info {
    position: absolute;
    bottom: 37px;
    left: 0;
    width: 100%;
    z-index: 20;
    text-align: center; }
    .carruseles .carousel-item .info h3 {
      position: relative;
      padding: 0;
      width: auto;
      max-width: 198px;
      bottom: auto;
      text-align: left;
      vertical-align: bottom;
      margin-bottom: -8px; }
    .carruseles .carousel-item .info .fecha {
      font-family: 'robotobold';
      width: 80px;
      margin-right: 22px;
      font-size: 3.15rem;
      color: #444444;
      background-color: white;
      border-radius: 4px;
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
      text-align: center; }
      .carruseles .carousel-item .info .fecha span {
        display: block;
        font-family: 'robotomedium';
        font-size: 1.43rem;
        color: white;
        background-color: #e33838;
        border-bottom: 4px solid #a61d1d;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        text-transform: uppercase; }

.municipio-mes .container-responsive .row {
  margin-right: 0; }
.municipio-mes .container-responsive .row > div {
  background-color: #b8182b; }
.municipio-mes .container-responsive img {
  width: 100%; }
.municipio-mes .container-responsive .informacion {
  text-align: center;
  color: #FFF;
  padding: 35px 17.5px; }
  .municipio-mes .container-responsive .informacion div.flex-parent {
    width: 100%;
    max-width: 430px;
    height: 100%;
    border: 1px solid #CD5D6B;
    padding: 0 21px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal; }
  .municipio-mes .container-responsive .informacion h2 {
    font-family: 'roboto_slabbold';
    font-size: 2.86rem;
    color: #f4d101; }
    .municipio-mes .container-responsive .informacion h2 span {
      display: inline-block;
      height: 1px;
      width: 36px;
      background-color: #f4d101;
      vertical-align: middle;
      margin: 0 10px; }
  .municipio-mes .container-responsive .informacion h3 {
    font-size: 1.43rem;
    font-family: 'robotomedium';
    margin-bottom: 31px; }
  .municipio-mes .container-responsive .informacion p {
    line-height: 22px;
    margin-bottom: 28px; }
  .municipio-mes .container-responsive .informacion a.btn-primary {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
    font-family: 'roboto_slabregular';
    font-size: 1.08rem;
    border-radius: 8px;
    padding: 11px 1.6rem 10px;
    width: 140px !important; }
  .municipio-mes .container-responsive .informacion a:hover {
    background-color: #f4d101;
    border-color: #f4d101; }

.flex-parent {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-child {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/*# sourceMappingURL=estilos.css.map */