@charset "UTF-8";
html {
  font-size: 14px; }

body {
  font-family: 'robotoregular'; }

.clear {
  clear: both; }

h2, h3 {
  font-family: 'roboto_slabbold'; }

header .navbar-inverse .navbar-nav .nav-link,
header .navbar-inverse .navbar-nav .nav-link:hover,
header .navbar-inverse .navbar-nav .nav-link:focus {
  font-size: 0.93rem;
  color: white;
  border-bottom: 3px solid transparent; }
header .navbar-inverse .navbar-nav .nav-link:hover {
  border-bottom: 3px solid #b8182b; }
header .navbar-brand img {
  max-width: 236px; }
header .navbar-brand img.scroll {
  display: none; }
header .navbar {
  padding-top: 43px;
  font-family: 'roboto_slabbold'; }
  header .navbar a.lupa {
    margin-right: 50px;
    display: none;
    text-decoration: none; }
    header .navbar a.lupa .ico-buscador::before {
      color: #2a3b7d;
      font-size: 20px; }
  header .navbar a.lupa.blanco .ico-buscador::before {
    color: #fff; }
header .info {
  position: absolute;
  width: 100%;
  min-height: 37px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  font-family: 'robotoregular';
  font-size: 0.86rem;
  color: #FFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  header .info .container {
    min-height: 37px; }
    header .info .container > div {
      float: right;
      margin-top: 7px; }
  header .info span {
    padding-right: 11px; }
    header .info span b {
      font-family: 'robotobold';
      font-weight: normal; }
  header .info .carrito {
    position: relative; }
    header .info .carrito span.ico-carrito {
      display: inline-block;
      vertical-align: middle;
      font-size: 21px;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      padding: 0 0 0 11px; }
    header .info .carrito .ico-carrito.active {
      border-left: 1px solid #444444; }
    header .info .carrito span.punto {
      position: absolute;
      display: none;
      height: 10px;
      width: 10px;
      top: -2px;
      right: -5px;
      background-color: #f43b3b;
      border-radius: 10px; }
header h5 {
  display: inline-block;
  font-size: 0.86rem;
  margin-top: 11px; }

.ico-carrito.active::before {
  color: #2a3b7d; }

.ico-carrito.interna::before {
  color: #fff; }

/* Estilos carrusel principal */
#carrusel-principal .carousel-item {
  opacity: 0.85;
  -webkit-transition: opacity 0.9s ease-in-out;
  transition: opacity 0.9s ease-in-out; }
  #carrusel-principal .carousel-item img.d-block {
    width: 100%; }
  #carrusel-principal .carousel-item .sombra {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, from(#001e51), to(transparent));
    background: linear-gradient(-180deg, #001e51 0%, transparent 100%);
    z-index: 5; }
#carrusel-principal .carousel-item.active {
  opacity: 1; }
#carrusel-principal .carousel-caption.d-md-block {
  max-width: 631px;
  right: 30%;
  left: 30%;
  bottom: 115px; }
#carrusel-principal .carousel-caption h4 {
  font-family: 'roboto_slabbold';
  font-size: 1.45rem;
  color: #f4d101;
  letter-spacing: 0.25em;
  margin-bottom: 0.4rem; }
#carrusel-principal .carousel-caption h3 {
  font-size: 3.15rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }
#carrusel-principal .carousel-caption p {
  font-family: 'robotomedium_italic';
  font-size: 1.22rem;
  line-height: 22px;
  margin-bottom: 1.3rem; }
#carrusel-principal .carousel-caption div span {
  display: inline-block;
  height: 3px;
  width: 124px;
  background-color: #fff; }
#carrusel-principal .carousel-caption div a.btn {
  background-color: transparent;
  border-color: #fff;
  font-family: 'roboto_slabbold';
  font-size: 1.22rem;
  border-radius: 8px;
  padding: 1rem 2.4rem; }
#carrusel-principal .carousel-caption div a.btn:hover {
  background-color: #b8182b;
  border-color: #b8182b; }

#carrusel-principal .carousel-control-prev-icon, #carrusel-principal .carousel-control-next-icon {
  background-image: none;
  height: 18px;
  width: 18px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#carrusel-principal .carousel-control-next-icon {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

/* Estilos formulario de busqueda */
.form-control::-webkit-input-placeholder {
  color: #cdd4dc; }

.form-control:-moz-placeholder {
  color: #cdd4dc; }

.form-control::-moz-placeholder {
  color: #cdd4dc; }

.form-control:-ms-input-placeholder {
  color: #cdd4dc; }

form {
  margin-top: -40px; }
  form .container {
    padding: 0 75px; }
    form .container .row {
      border-radius: 4px;
      -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
      background-color: #ffffff; }
      form .container .row div {
        padding: 0; }
        form .container .row div .form-control {
          height: 80px !important;
          border: none;
          font-family: 'robotoregular';
          font-size: 1.14rem;
          width: 100% !important;
          color: #444444; }
        form .container .row div input[type="text"] {
          padding: 7px 37px; }
        form .container .row div .select {
          width: 100%;
          overflow: hidden;
          background: #fff url("../img/flecha_abajo.svg") no-repeat 93% center;
          font-size: 1.14rem;
          font-family: 'robotoregular'; }
          form .container .row div .select select {
            padding: 5px 8px 5px 25px;
            width: 130%;
            font-size: 1.14rem;
            line-height: 5rem;
            border: none;
            -webkit-box-shadow: none;
                    box-shadow: none;
            background-color: transparent;
            -webkit-appearance: none;
               -moz-appearance: none;
                    appearance: none; }
          form .container .row div .select .border {
            display: inline-block;
            height: 57px;
            width: 1px;
            margin: 11px;
            background-color: #cdd4dd; }
        form .container .row div select.form-control.placeholder {
          color: #cdd4dc; }
        form .container .row div select.form-control {
          color: #444444; }
      form .container .row button.btn-primary {
        height: 80px;
        width: 101%;
        background: url("../img/lupa.svg") center center no-repeat;
        background-size: 24px 24px;
        background-color: #56a232;
        border: none;
        text-indent: -9999px;
        cursor: pointer;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
      form .container .row button.btn-primary:hover {
        background-color: #27600b; }

/* EStilos footer */
footer {
  position: relative;
  background-color: #293a7d; }
  footer .redes {
    background-color: #FFF;
    margin: 0;
    padding: 11px 0 0;
    text-align: center; }
    footer .redes h3 {
      display: inline-block;
      font-size: 1rem;
      margin-right: 10px; }
    footer .redes ul {
      text-align: center;
      display: inline-block; }
      footer .redes ul li {
        display: inline-block;
        margin: 8px 11px; }
        footer .redes ul li a {
          display: inline-block;
          height: 30px;
          font-family: 'robotobold';
          font-size: 1rem;
          color: #2a3b7d;
          padding: 0px; }
          footer .redes ul li a img {
            height: 30px;
            width: 30px;
            margin-right: 6px;
            margin-top: -3px; }
        footer .redes ul li a:hover {
          color: #2a3b7d; }
  footer div {
    font-family: 'robotomedium';
    font-size: 0.94rem;
    color: white; }
  footer .col-md-2 {
    position: relative;
    padding-top: 55px;
    max-width: 14%; }
    footer .col-md-2 span.borde {
      position: absolute;
      top: 48px;
      right: 5px;
      width: 1px;
      height: 196px;
      display: block;
      background-color: #409cff; }
  footer .col-md-2.first {
    max-width: 16%; }
  footer h3 {
    font-size: 0.94rem;
    line-height: 21px;
    color: #419cff; }
  footer ul li a {
    font-family: 'robotomedium';
    font-size: 0.94rem;
    color: white; }
  footer ul li a:hover {
    color: #f4d101; }
  footer > img {
    position: absolute;
    display: inline-block;
    width: 30%;
    max-width: 270px !important;
    bottom: 0;
    left: 50%;
    margin-left: -10%; }

/* Estilos carruseles*/
.carruseles {
  padding: 90px 0 40px; }
  .carruseles .container .row > div {
    text-align: center;
    margin-bottom: 50px; }
  .carruseles h2 {
    width: 100%;
    font-size: 1.72rem;
    color: #cdd4dc;
    text-align: left;
    margin-bottom: 2rem; }
  .carruseles a {
    position: absolute;
    top: 4px;
    right: 18px;
    font-family: 'robotoregular';
    font-size: 1.08rem;
    color: #cdd4dc;
    text-align: left; }
    .carruseles a span {
      vertical-align: middle;
      margin-left: 6px; }
    .carruseles a span:before {
      color: #cdd4dc; }
  .carruseles a:hover {
    text-decoration: none;
    color: #2a3b7d; }
    .carruseles a:hover span:before {
      color: #2a3b7d; }
  .carruseles .carousel-indicators {
    bottom: -45px; }
    .carruseles .carousel-indicators li {
      background-color: white;
      border: 1px solid #293a7d;
      height: 10px;
      max-width: 10px !important;
      border-radius: 5px; }
    .carruseles .carousel-indicators .active {
      background-color: #293a7d; }

.carruseles .sombra {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100% !important;
  height: 60%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#001e51));
  background: linear-gradient(-180deg, transparent 0%, #001e51 100%);
  z-index: 10;
  border-radius: 4px !important; }

.carruseles .carousel {
  border-radius: 4px !important;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%; }

#eventos {
  max-width: 351px; }

.carruseles .carousel-item {
  color: #fff;
  border-radius: 10px;
  border-radius: 4px !important;
  overflow: hidden;
  height: 375px;
  max-carwidth: 100%; }
  .carruseles .carousel-item img {
    height: 375px;
    width: 100%;
    border-radius: 4px !important; }
  .carruseles .carousel-item h4 {
    position: absolute;
    top: 35px;
    left: 0;
    display: inline-block;
    padding: 0.72rem 0.5rem 0.65rem 1.58rem;
    height: 38px;
    font-family: 'robotomedium_italic';
    font-size: 1.15rem;
    background-color: #f99c17;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3); }
    .carruseles .carousel-item h4 span {
      position: absolute;
      top: 0px;
      right: -19px;
      width: 0;
      height: 0;
      border-left: 19px solid #f99c17;
      border-top: 19px solid transparent;
      border-bottom: 19px solid transparent; }
  .carruseles .carousel-item h3 {
    display: block;
    width: 100%;
    max-width: 710px;
    padding: 0 2.65rem;
    margin: 0;
    position: absolute;
    bottom: 30px;
    left: 0;
    font-size: 1.72rem;
    line-height: 32px;
    z-index: 20;
    text-align: left;
    color: #fff; }
  .carruseles .carousel-item .info {
    position: absolute;
    bottom: 37px;
    left: 0;
    width: 100%;
    z-index: 20;
    text-align: center; }
    .carruseles .carousel-item .info h3 {
      position: relative;
      padding: 0;
      width: auto;
      max-width: 198px;
      bottom: auto;
      text-align: left;
      vertical-align: bottom;
      margin-bottom: -8px; }
    .carruseles .carousel-item .info .fecha {
      font-family: 'robotobold';
      width: 80px;
      margin-right: 22px;
      font-size: 3.15rem;
      color: #444444;
      background-color: white;
      border-radius: 4px;
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
      text-align: center; }
      .carruseles .carousel-item .info .fecha span {
        display: block;
        font-family: 'robotomedium';
        font-size: 1.43rem;
        color: white;
        background-color: #e33838;
        border-bottom: 4px solid #a61d1d;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        text-transform: uppercase; }

/* Estilos nuestros municipios */
.nuestros-mun {
  background-image: url("../img/nuestrosmuni.jpg");
  background-size: 100%; }
  .nuestros-mun .degradado {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(41, 58, 125, 0.45)), to(#1f2d67));
    background: linear-gradient(-180deg, rgba(41, 58, 125, 0.45) 0%, #1f2d67 100%);
    padding-bottom: 66px; }
  .nuestros-mun .container h2 {
    width: 100%;
    color: #fff;
    font-size: 3.1rem;
    margin: 5rem 0 4.6rem; }
  .nuestros-mun .container .col-md-6 > div {
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    background-color: #56a232; }
  .nuestros-mun .container .col-md-6 h3 {
    font-size: 1.73rem;
    color: #27600c; }
  .nuestros-mun .container .col-md-6 p {
    font-family: 'robotoregular';
    font-size: 1rem;
    line-height: 22px;
    color: #fff; }
  .nuestros-mun .container .col-md-6 .informacion {
    position: relative;
    padding: 26px 15px 26px 53px; }
  .nuestros-mun .container .col-md-6 img {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 300px; }
  .nuestros-mun .container .col-md-6 a {
    position: absolute;
    right: 23px;
    font-family: 'robotoregular';
    color: #f4d101;
    font-size: 1rem;
    text-align: left; }
    .nuestros-mun .container .col-md-6 a span {
      vertical-align: middle;
      margin-left: 7px; }
  .nuestros-mun .container .col-md-6 a:hover {
    text-decoration: none;
    color: #fff; }
    .nuestros-mun .container .col-md-6 a:hover span:before {
      color: #fff; }

/* Estilos te puede interesar*/
.interes {
  background-color: #F9FAFB;
  padding-bottom: 3.6rem; }
  .interes .container h2 {
    width: 100%;
    font-size: 3.1rem;
    color: #8f97a2;
    margin: 5rem 0 4.6rem; }
  .interes .container .col-md-3 {
    margin-bottom: 30px; }
    .interes .container .col-md-3 img {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px; }
    .interes .container .col-md-3 div {
      background-color: #ffffff;
      border-radius: 4px;
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
      padding-bottom: 20px; }
    .interes .container .col-md-3 h3 {
      font-size: 1.29rem;
      color: #b8182b;
      margin-bottom: 5px;
      margin-top: 17px; }
    .interes .container .col-md-3 span {
      font-family: 'robotoregular';
      font-size: 1rem;
      color: #8f97a2;
      margin-bottom: 22px; }
    .interes .container .col-md-3 a.btn {
      background-color: transparent;
      border-color: #56a232;
      color: #56a232;
      font-family: 'roboto_slabregular';
      font-size: 1.08rem;
      border-radius: 8px;
      padding: 11px 1.6rem 10px; }
    .interes .container .col-md-3 a.btn:hover {
      background-color: #56a232;
      color: #FFFFFF; }

/* Estilos municipio del mes */
.municipio-mes .container-responsive .row {
  margin-right: 0; }
.municipio-mes .container-responsive .row > div {
  background-color: #b8182b; }
.municipio-mes .container-responsive img {
  width: 100%; }
.municipio-mes .container-responsive .informacion {
  text-align: center;
  color: #FFF;
  padding: 35px 17.5px; }
  .municipio-mes .container-responsive .informacion .flex-parent {
    width: 100%;
    max-width: 430px;
    height: 100%;
    border: 1px solid #CD5D6B;
    padding: 0 21px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .municipio-mes .container-responsive .informacion .flex-parent .flex-child {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  .municipio-mes .container-responsive .informacion h2 {
    font-size: 2.86rem;
    color: #f4d101; }
    .municipio-mes .container-responsive .informacion h2 span {
      display: inline-block;
      height: 1px;
      width: 36px;
      background-color: #f4d101;
      vertical-align: middle;
      margin: 0 10px; }
  .municipio-mes .container-responsive .informacion h3 {
    font-size: 1.43rem;
    font-family: 'robotomedium';
    margin-bottom: 31px; }
  .municipio-mes .container-responsive .informacion p {
    line-height: 22px;
    margin-bottom: 28px; }
  .municipio-mes .container-responsive .informacion a.btn-primary {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
    font-family: 'roboto_slabregular';
    font-size: 1.08rem;
    border-radius: 8px;
    padding: 11px 1.6rem 10px;
    width: 140px !important; }
  .municipio-mes .container-responsive .informacion a:hover {
    background-color: #f4d101;
    border-color: #f4d101; }

/* Estilos pagimas internas */
.interna {
  padding-top: 163px;
  background-color: #F9FAFB; }
  .interna header .navbar {
    border-bottom: 5px solid #3886dc; }
  .interna section {
    padding-bottom: 50px; }

/* Estilos miga de pan */
.miga {
  color: #8f97a2;
  margin-bottom: 2.2rem; }
  .miga .d-inline-block {
    vertical-align: top; }
  .miga .breadcrumb {
    background-color: transparent; }
    .miga .breadcrumb .breadcrumb-item {
      color: #419cff; }
      .miga .breadcrumb .breadcrumb-item a {
        color: #419cff; }
      .miga .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
        padding-right: 0.3rem;
        padding-left: 0.3rem;
        color: #8f97a2;
        content: ">"; }
    .miga .breadcrumb .active {
      font-family: 'robotomedium'; }

/* Estilos resdes páginas */
.redes-int {
  width: 90%;
  max-width: 435px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #cacaca;
  border-style: dashed;
  padding: 9px 0; }
  .redes-int span {
    font-family: 'roboto_slabbold';
    color: #444444;
    vertical-align: middle; }
  .redes-int ul {
    display: inline-block;
    margin: 0 0 0 6px; }
    .redes-int ul li {
      display: inline-block;
      margin: 4px; }
      .redes-int ul li a {
        width: 40px;
        height: 40px;
        overflow: hidden;
        text-indent: -9999px; }
        .redes-int ul li a img {
          width: 40px;
          height: 40px; }

/* Estilos contenido */
.contenido {
  width: 100%;
  padding-bottom: 60px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  color: #444444; }
  .contenido h2 {
    padding: 1.15rem 2.93rem 1.3rem;
    background-color: #56a232;
    font-size: 2.15rem;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 3px solid #358011;
    margin: 0; }
  .contenido h3 {
    font-size: 2.29rem;
    line-height: 3.08rem;
    margin: 5.07rem auto 1rem; }
  .contenido p.descripcion {
    font-family: 'robotomedium';
    font-size: 1.15rem;
    line-height: 1.79rem;
    margin-bottom: 0; }
  .contenido h4 {
    font-family: 'roboto_slabbold';
    font-size: 1.72rem;
    color: #b8182b;
    margin-bottom: 1.22rem; }
  .contenido .borde {
    width: 100%;
    max-width: 753px;
    position: relative;
    border-bottom: 1px solid #dddfe3;
    margin: 24px auto 60px; }
    .contenido .borde span {
      display: inline-block;
      position: absolute;
      top: -5px;
      left: 50%;
      width: 32px;
      height: 10px;
      background-color: #fff;
      margin-left: -16px; }
    .contenido .borde .punto {
      width: 10px;
      margin-left: -5px;
      border-radius: 5px;
      background-color: #dddfe3; }

/* Estilos a donde ir */
.donde-ir .contenido h3, .donde-ir .contenido p, .donde-ir .contenido h4 {
  width: 100%;
  max-width: 753px;
  margin: 0 auto; }
.donde-ir .contenido h3 {
  margin: 5.07rem auto 1rem; }
.donde-ir .contenido p {
  margin-bottom: 2.57rem; }
.donde-ir .contenido h4 {
  margin-bottom: 1.22rem; }
.donde-ir .contenido .enlaces {
  width: 100%;
  max-width: 980px;
  margin: 0 auto; }
  .donde-ir .contenido .enlaces div {
    margin-bottom: 35px; }
.donde-ir .contenido .btn-primary {
  display: table;
  width: 100%;
  max-width: 210px;
  height: 90px;
  margin: 0 auto;
  border: 1px solid #56a232;
  background-color: transparent;
  color: #56a232;
  white-space: inherit;
  font-family: 'roboto_slabbold';
  font-size: 1.15rem;
  line-height: 1.5rem;
  border-radius: 8px; }
  .donde-ir .contenido .btn-primary span {
    display: table-cell;
    vertical-align: middle; }
.donde-ir .contenido .btn-primary:hover {
  background-color: #56a232;
  color: #fff; }
.donde-ir .contenido .ver-mapa {
  width: 85%;
  max-width: 300px;
  height: 70px;
  margin: 0 auto 3.57rem;
  color: #56a232; }

/* Estilos Noticias y  Blog */
.noticias .contenido h3, .noticias .contenido p {
  width: 100%;
  max-width: 753px;
  margin: 0 auto; }
.noticias .contenido h3 {
  margin: 5.07rem auto 1rem; }

.blog h3 {
  text-align: center; }
.blog .list-departamentos {
  width: 100%;
  max-width: 850px;
  margin: 1.6rem auto 3.93rem;
  text-align: center; }
  .blog .list-departamentos li {
    display: inline-block;
    margin: 0 0.28rem 0.64rem; }
    .blog .list-departamentos li a.btn-primary {
      padding: 1rem 0.93rem;
      border-radius: 4px;
      color: #419cff;
      border-color: #419cff;
      background-color: transparent; }
    .blog .list-departamentos li a.btn-primary:hover {
      color: #fff;
      border-color: #293a7d;
      background-color: #293a7d; }

.lista {
  width: 100%;
  max-width: 1014px;
  margin: 5.57rem auto 0; }
  .lista div {
    margin-bottom: 75px; }
  .lista h3 {
    font-size: 1.08rem;
    line-height: 1.72rem;
    margin: 1.36rem 0 0.53rem; }
    .lista h3 a {
      color: #444444;
      text-decoration: none; }
    .lista h3 a:hover {
      border-bottom: 2px solid #a1a1a1; }
  .lista h4 {
    display: inline-block;
    font-family: 'robotomedium_italic';
    font-size: 1rem;
    background-color: #f99c17;
    color: #fff;
    padding: 9px 7px;
    margin-bottom: 0.64rem; }
  .lista span {
    display: block;
    font-size: 0.93rem;
    color: #8f97a2; }

/* Estilos paginación*/
.cnt-pagination {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: -1.5rem 0 5.93rem; }
  .cnt-pagination .pagination {
    display: inline-block;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
    min-height: 54px;
    margin-bottom: 0;
    padding-left: 1px; }
    .cnt-pagination .pagination li {
      display: inline-block;
      padding: 7px 0;
      height: 100%; }
      .cnt-pagination .pagination li .page-link {
        padding: 10px 22px;
        margin-left: -1px;
        color: #444444;
        border: none;
        font-size: 1.08rem;
        border-left: 2px solid #f6f6f6; }
        .cnt-pagination .pagination li .page-link .ico-flecha::before {
          color: #444444; }
      .cnt-pagination .pagination li .prev {
        border-left: none; }
      .cnt-pagination .pagination li .prev {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg); }
      .cnt-pagination .pagination li .page-link:hover {
        background-color: #fff;
        color: #b8182b; }
        .cnt-pagination .pagination li .page-link:hover .ico-flecha::before {
          color: #b8182b; }

/* Estilos artículo blog */
.blog-articulo .cont-img {
  position: relative;
  margin-bottom: 4.57rem; }
  .blog-articulo .cont-img div {
    position: absolute;
    bottom: 39px;
    left: 70px;
    color: #fff; }
    .blog-articulo .cont-img div h3 {
      margin: 0 0 0.5rem 0;
      font-size: 2.43rem;
      max-width: 780px; }
    .blog-articulo .cont-img div span {
      font-size: 0.93rem;
      padding: 0 0.93rem;
      border-left: 1px solid #fff; }
    .blog-articulo .cont-img div .municipio {
      color: #f99c17;
      border: none;
      padding-left: 0; }
  .blog-articulo .cont-img .sombra {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#001e51));
    background: linear-gradient(-180deg, transparent 0%, #001e51 100%); }
.blog-articulo p {
  padding: 0 15px;
  width: 100%;
  max-width: 685px;
  margin: 0 auto 1.71rem;
  line-height: 1.71rem; }
.blog-articulo .art-sig-ant {
  width: 100%;
  max-width: 655px;
  margin: 4.57rem auto 0;
  padding: 17px 0;
  border-top: 1px solid #dedede;
  border-bottom: 2px solid #dedede; }
  .blog-articulo .art-sig-ant div {
    position: relative; }
    .blog-articulo .art-sig-ant div a {
      display: inline-block;
      color: #444444;
      line-height: 1.79rem;
      text-decoration: none;
      padding: 0 35px; }
      .blog-articulo .art-sig-ant div a .ico-flecha::before {
        font-size: 25px;
        color: #8f97a2; }
    .blog-articulo .art-sig-ant div a:hover {
      color: #b8182b; }
      .blog-articulo .art-sig-ant div a:hover .ico-flecha::before {
        color: #b8182b; }
    .blog-articulo .art-sig-ant div .prev a {
      padding-right: 10px; }
    .blog-articulo .art-sig-ant div .next a {
      padding-left: 10px; }
    .blog-articulo .art-sig-ant div a.flecha {
      height: 23px;
      width: 17px;
      padding: 0;
      position: absolute;
      top: 50%;
      right: 18px;
      margin-top: -11.5px; }
    .blog-articulo .art-sig-ant div .prev a.flecha {
      right: auto;
      left: 18px;
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  .blog-articulo .art-sig-ant div.col-md-6:first-child {
    border-right: 1px solid #dedede; }
  .blog-articulo .art-sig-ant div.col-md-6:last-child {
    border-left: 1px solid #dedede; }

/* Estilos de una noticia */
.noticia .row {
  width: 100%;
  max-width: 1050px;
  margin: 5.14rem auto 0; }
  .noticia .row .menu {
    display: block;
    width: 100%;
    max-width: 291px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    margin-top: 0.71rem; }
    .noticia .row .menu li {
      padding: 0;
      margin-bottom: 1px;
      border: none; }
      .noticia .row .menu li a {
        display: block;
        width: 100%;
        padding: 1.14rem 2.57rem;
        font-family: 'roboto_slabbold';
        color: #444444;
        background-color: #f7f8f9; }
      .noticia .row .menu li a:hover {
        background-color: #8f97a2;
        color: #fff;
        text-decoration: none; }
    .noticia .row .menu .list-group-item.active {
      border-color: #8f97a2; }
      .noticia .row .menu .list-group-item.active a {
        color: #fff;
        background-color: #8f97a2; }
    .noticia .row .menu li:first-child a {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
    .noticia .row .menu li:last-child {
      margin-bottom: 0; }
      .noticia .row .menu li:last-child a {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px; }
  .noticia .row h3 {
    font-size: 2.71rem;
    line-height: 3.14rem;
    margin-bottom: 0.43rem; }
  .noticia .row span {
    display: inline-block;
    font-size: 0.93rem; }
  .noticia .row .municipio {
    color: #f99c17;
    padding-right: 0.8rem;
    margin-bottom: 1.14rem; }
  .noticia .row .fecha {
    color: #cdd4dc;
    border-left: 1px solid #cdd4dc;
    padding-left: 0.8rem; }
  .noticia .row .foto {
    font-size: 0.86rem;
    color: #8f97a2;
    font-family: 'robotoitalic';
    display: block;
    text-align: right;
    margin: 0.93rem 0 1.93rem; }
  .noticia .row p {
    line-height: 1.72rem;
    margin-bottom: 1.86rem; }
  .noticia .row .float {
    float: left;
    max-width: 261px;
    margin: 8px 26px 18px 0; }

.col-md-8 > ul {
  margin-bottom: 21px; }
  .col-md-8 > ul li {
    position: relative;
    padding-left: 1.79rem;
    margin-bottom: 3px; }
    .col-md-8 > ul li .ico-flecha {
      position: absolute;
      left: 0;
      top: 5px; }
    .col-md-8 > ul li .ico-flecha::before {
      color: #b8182b;
      font-size: 1rem; }

.col-md-8 .descarga {
  margin: 3.07rem 0 3rem; }
  .col-md-8 .descarga li {
    position: relative;
    border-radius: 3px;
    border: none;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
    padding: 1.18rem 1.93rem 1.18rem 1.93rem;
    margin-bottom: 8px; }
    .col-md-8 .descarga li a {
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
      width: 110px;
      display: table;
      background-color: #b8182b;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
      .col-md-8 .descarga li a .ico-descarga {
        display: table-cell;
        vertical-align: middle; }
      .col-md-8 .descarga li a .ico-descarga:before {
        font-size: 17px; }
    .col-md-8 .descarga li a:hover {
      text-decoration: none;
      background-color: #db7a11; }

.col-md-8 .destacados {
  margin-bottom: 60px; }
  .col-md-8 .destacados li {
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    margin-bottom: 8px; }
    .col-md-8 .destacados li a {
      display: block;
      width: 100%;
      border-radius: 3px;
      -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
              box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
      padding: 1.18rem 3.93rem 1.18rem 1.93rem;
      color: #444444; }
      .col-md-8 .destacados li a .ico-flecha {
        left: auto;
        right: 32px;
        top: 50%;
        margin-top: -7px; }
    .col-md-8 .destacados li a:hover {
      text-decoration: none;
      -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
              box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4); }
      .col-md-8 .destacados li a:hover .ico-flecha:before {
        color: #db7a11; }

.table {
  margin-top: 2.64rem; }
  .table thead th {
    border-bottom: none; }
  .table td:last-child, .table th:last-child {
    text-align: center; }
  .table th, .table td {
    padding: 1.04rem;
    border-top: none; }
  .table th:first-child {
    padding-left: 6.07rem; }
  .table td:first-child {
    padding-left: 3.57rem; }

.thead-default th {
  color: #fff;
  background-color: #b8182b;
  font-family: 'alegreyasans_bold';
  font-size: 1.29rem; }

.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: transparent; }

.table-striped tbody tr:nth-of-type(2n) {
  background-color: rgba(181, 188, 198, 0.09);
  border-top: 1px solid rgba(181, 188, 198, 0.28);
  border-bottom: 1px solid rgba(181, 188, 198, 0.28); }

/* Estilos Municipio */
.municipio .row {
  width: 100%;
  max-width: 950px;
  margin: 8.28rem auto 0; }
  .municipio .row p {
    line-height: 1.72rem;
    margin-bottom: 1.86rem; }
  .municipio .row .float {
    float: left;
    max-width: 261px;
    margin: 8px 26px 18px 0; }
  .municipio .row .sub-menu {
    margin-top: 5px; }
    .municipio .row .sub-menu li {
      margin-bottom: 10px;
      padding: 0;
      border: none; }
      .municipio .row .sub-menu li a {
        color: #fff;
        width: 100%;
        text-align: center;
        font-family: 'roboto_slabbold';
        font-size: 1.07rem;
        background-color: #db7a11;
        border-radius: 8px;
        padding: 0.99rem 0; }
      .municipio .row .sub-menu li a:hover {
        text-decoration: none;
        background-color: #9c570d; }
.municipio .informacion {
  position: relative;
  max-width: 100%;
  min-height: 349px;
  background: url("../img/marca_nuestrosmunicipios.png") left 6px no-repeat;
  background-color: rgba(86, 162, 50, 0.1);
  margin: 0; }
  .municipio .informacion .col-md-12 {
    max-width: 950px;
    margin: 0 auto; }
    .municipio .informacion .col-md-12 h3, .municipio .informacion .col-md-12 p {
      max-width: 560px; }
    .municipio .informacion .col-md-12 h3 {
      margin: 5.07rem auto 1.29rem 0; }
  .municipio .informacion .marco {
    position: absolute;
    top: 25px;
    right: 15px;
    background-color: white;
    border: 1px solid #d6d6d6;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    padding: 1.21rem;
    width: 305px;
    min-height: 378px;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    overflow: hidden; }
    .municipio .informacion .marco img {
      max-width: auto;
      height: 286px; }
    .municipio .informacion .marco h4 {
      text-align: center;
      font-family: 'yellowtail';
      font-size: 1.57rem;
      color: #444444;
      margin: 1.42rem 0 1rem; }
.municipio .galeria {
  margin: 1.86rem 0 3.57rem; }
  .municipio .galeria div {
    padding: 0;
    text-align: center;
    margin-bottom: 15px; }
  .municipio .galeria a {
    display: inline-block;
    max-width: 164px;
    height: 115px; }
    .municipio .galeria a img {
      height: 100%; }
  .municipio .galeria a:hover {
    outline-style: solid;
    outline-color: rgba(205, 212, 220, 0.6);
    outline-width: 5px; }

@media (max-width: 780px) {
  .carruseles .carousel-item {
    overflow: hidden;
    height: 300px; }
    .carruseles .carousel-item img {
      height: 300px;
      width: auto; } }

/*# sourceMappingURL=estilos.css.map */