@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
     url('../fonts/roboto-regular-webfont.woff') format('woff'),
     url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
     url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('../fonts/roboto-medium-webfont.woff') format('woff'),
       url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
       url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../fonts/roboto-bold-webfont.woff') format('woff'),
       url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
       url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto-italic-webfont.eot');
    src: url('../fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
       url('../fonts/roboto-italic-webfont.woff') format('woff'),
       url('../fonts/roboto-italic-webfont.ttf') format('truetype'),
       url('../fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_slabbold';
    src: url('../fonts/robotoslab-bold-webfont.eot');
    src: url('../fonts/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/robotoslab-bold-webfont.woff2') format('woff2'),
       url('../fonts/robotoslab-bold-webfont.woff') format('woff'),
       url('../fonts/robotoslab-bold-webfont.ttf') format('truetype'),
       url('../fonts/robotoslab-bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_slabregular';
    src: url('../fonts/robotoslab-regular-webfont.eot');
    src: url('../fonts/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/robotoslab-regular-webfont.woff2') format('woff2'),
       url('../fonts/robotoslab-regular-webfont.woff') format('woff'),
       url('../fonts/robotoslab-regular-webfont.ttf') format('truetype'),
       url('../fonts/robotoslab-regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto-mediumitalic-webfont.eot');
    src: url('../fonts/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
       url('../fonts/roboto-mediumitalic-webfont.woff') format('woff'),
       url('../fonts/roboto-mediumitalic-webfont.ttf') format('truetype'),
       url('../fonts/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyasans_bold';
    src: url('../fonts/alegreyasans-bold-webfont.eot');
    src: url('../fonts/alegreyasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/alegreyasans-bold-webfont.woff2') format('woff2'),
       url('../fonts/alegreyasans-bold-webfont.woff') format('woff'),
       url('../fonts/alegreyasans-bold-webfont.ttf') format('truetype'),
       url('../fonts/alegreyasans-bold-webfont.svg#alegreyasans_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yellowtail';
    src: url('../fonts/yellowtail-regular-webfont.eot');
    src: url('../fonts/yellowtail-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/yellowtail-regular-webfont.woff2') format('woff2'),
       url('../fonts/yellowtail-regular-webfont.woff') format('woff'),
       url('../fonts/yellowtail-regular-webfont.ttf') format('truetype'),
       url('../fonts/yellowtail-regular-webfont.svg#yellowtail') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'iconos';
  src:  url('../fonts/iconos.eot?og268f');
  src:  url('../fonts/iconos.eot?og268f#iefix') format('embedded-opentype'),
    url('../fonts/iconos.ttf?og268f') format('truetype'),
    url('../fonts/iconos.woff?og268f') format('woff'),
    url('../fonts/iconos.svg?og268f#iconos') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconos' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-flecha-abajo:before {
  content: "\e900";
  color: #cdd4dd;
}
.ico-flecha:before {
  content: "\e901";
  color: #f4d101;
}
.ico-descarga:before {
  content: "\e902";
  color: #fff;
}
.ico-carrito:before {
  content: "\e903";
  color: #fff;
}
.ico-buscador:before {
  content: "\e904";
  color: #fff;
}
