@media (min-width: 1200px) {
	footer {
		.col-lg-2 {
			max-width: 14%;
		}
		.col-lg-2.first {
			max-width: 16%;
		}
	}
}

@media (max-width: 1199px) {
	.contacto form {
		.form-group .error {
			position: relative;
			right: auto;
			bottom: auto;
			margin-top: 6px;
			max-width: 100% !important;
			min-width: auto !important;
		}
	}
	#carrusel-principal {
		.carousel-caption.d-md-block {
			bottom: 10px;
		}
		.carousel-caption {
			div {
				span {
					width: 19%;
				}
			}
		}
	}
	#buscador {
		margin-top: -20px;
		.container {
			padding: 0 17.5px;
		}
	}
	#list-blog {
		div {
			img, h3, span {
				max-width: 90%;
				margin: 0 5%;
			}
			h3 {
				margin: 1.36rem 5% 0.53rem;
			}
			h4 {
				margin: 0 5% 0.64rem;
			}
		}
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	footer {
		.col-lg-2 {
			max-width: 14%;
		}
		.col-lg-2.first {
			max-width: 16%;
		}
	}
	
	.carruseles .carousel-item {
		overflow: hidden;
		height: 300px;
		img {
			height: 300px;
			width: auto;
		}
		h4{
			top: 10px;
		}
		.info {
			text-align: center;
			.fecha {
				margin-left: 22px;
			}
		}
	}
}


@media (max-width: 992px) {
	header {
		.navbar {
			padding: 17.5px !important;
			a.lupa {
				display: block !important;
				.ico-buscador::before {
					color: #fff;
				}
				.ico-buscador.addcolor::before {
					color: #2a3b7d;
				}
			}
		}
		img {
			max-width: 150px !important;
			width: 150px !important;
		}
		.info  {
			min-height: 0 !important;
			height: 0 !important;
			.container {
				min-height: 0 !important;
				div {
					margin-top: 39px !important;
				}
			}
			h5, div > span {
				display: none !important;
			}
		}
		.container {
			.navbar-toggler-right {
				right: 7rem;
				top: 16px;
			}
		}
		.navbar a.lupa {
			margin-right: 0px;
			position: absolute;
			right: 62px;
			top: 22px;
		}
	}

	.home header {
		.navbar-inverse .navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}
		.navbar a.lupa .ico-buscador::before {
			color: #2a3b7d;
		}
	}

	#carrusel-principal {
		height: 100vh;
		.carousel-inner {
			height: 100%;
			.carousel-item {
				height: 100%;
				overflow: hidden;
				img.d-block {
					width: auto;
					height: 100%
				}
			}
		}
		.carousel-caption {
			padding: 10px 0;
		}
		.carousel-caption.d-md-block {
			display: block !important;
			bottom: 0;
			max-width: 90%;
			right: 5%;
			left: 5%;
		}
	}
	#buscador {
		margin-top: 10px;
	}
	.interna .contenido > { 
			p, h3, h4 {
			padding: 0 20px;
		}
	}
	.contenido .borde {
		width: 95%;
		max-width: 95%;
	}
	.contenido .lista h3 {
		padding: 0;
	}
	.interna .municipio .contenido {
		p, h3, h4 {
			padding: 0;
		}
		.row {
			margin-top: 4.28rem;
			.float {
				float: none;
				margin-right: 0;
				max-width: 100%; 
			}
		}
		.informacion {
			margin-top: 0;
			.col-md-12{
				h3 {
					margin-top: 3.07rem;
				}
				h3, p {
					max-width: 100%;
				}
			}
			.marco {
				position: relative;
				top: auto;
				right: auto;
				margin: 25px auto;
				width: 100%;
				max-width: 305px;
			}
		}		
	}
	.table td:first-child, .table th:first-child {
		padding-left: 1.04rem;
	}
	.noticia .row {
		margin-top: 2.15rem;
		.navbar.menu {
			padding: .71rem 0 0;
			margin-bottom: 2.15rem;
			min-height: 53px;
			background: #f7f8f9;
			border-radius: 4px;
			box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
			button {
				cursor: pointer;
			}
			ul.menu {
				max-width: 100%;
				margin-top: 47px;
				box-shadow: none;
				li:first-child {
					a {
						border-top-left-radius: 0;
						border-top-right-radius: 0; 
					}
				}
			}
		}
	}
	.contacto h3 {
		margin-top: 3.07rem;
	}
}


@media (min-width: 768px) and (max-width: 991px) {
	.carruseles .carousel-item {
		h4{
			top: 10px;
		}
		.info {
			text-align: center;
			.fecha {
				margin-left: 22px;
			}
		}
	}
	.municipio-mes .container-responsive .informacion h2 span {
		max-width: 215px;
	}
}


@media (max-width: 768px) {
	#buscador .container .row {
		margin: 0;
		div {
			input[type="text"] {
				padding: 7px 20px;
				margin: 0;
			}
			.select {
				position: relative;
				.border {
					position: absolute;
					display: block;
					top: -7px;
					height: 1px;
					width: 95%;
					margin: 11px;
				}
			}
			button.btn-primary {
				width: 100%;
				border-top-right-radius: 0;
				border-bottom-left-radius: 0.25rem;
			}
		}
	}
	.carruseles {
		padding: 70px 0 40px;
	}
	.nuestros-mun .container .col-lg-6 a {
		bottom: 30px;
	}
	.municipio-mes {
		.container-responsive {
			.row {
				margin: 0;
				> div {
					background-color: #b8182b;
					padding: 0;
				}
				.informacion {
					padding: 20px;
					.flex-parent {
						max-width: 100%;
					}
				}
			}
		}
	}
	.municipio .contenido .row .col-md-8 {
		margin-top: 40px;
	}
	.noticia .row {
		.float {
			float: none;
			max-width: 100%;
			margin: 8px 0 18px;
		}
	}
	.blog-articulo .cont-img {
		margin-bottom: 3.57rem;
		overflow: hidden;
		height: 300px;
		img {
			width: auto !important;
			height: 100%;
		}
		div {
			bottom: 10px;
			left: 20px;
		}
	}
	.contacto form {
		padding: 0 20px;
	}
	.blog-articulo .art-sig-ant {
		width: 90%;
		.row {
			width: 100%;
			margin: 0 auto;
		}
		div.col-md-6:first-child {
			border-bottom: 1px solid #dedede;
			border-right: none;
			padding: 0 0 17px;
		}
		div.col-md-6:last-child {
			border-left: none;
			padding: 17px 0 0;
		}
		div .prev a.flecha {
			left: 4px;
			margin-top: -17.5px;
		}
		div .next a.flecha {
			right: 4px;
			margin-top: -5.5px;
		}
	}
	.redes-int.fixed-bottom {
		position: fixed !important;
		z-index: 1030;
		border: none;
		padding: 0;
		span {
			display: none;
		}
	}
}


@media (min-width: 576px) and (max-width: 767px) {
	#eventos {
		max-width: 351px;
	}
	
}


@media (max-width: 575px) {
	header {
		.container {
			margin: 0;
			.navbar-toggler-right {
				right: 5.5rem;
			}
		}
		.navbar a.lupa {
			right: 45px;
		}
	}
	#carrusel-principal {
		.carousel-caption {
			h3 {
				font-size: 2.5rem;
				margin-bottom: 1rem;
			}
			p {
				font-size: 1.2rem;
				line-height: 20px;
				margin-bottom: 1rem;
			}
			div span {
				width: 12%;
			}
		}
	}
	#eventos {
		max-width: 310px;
	}
	.carruseles .carousel-item {
		.info {
			text-align: left;
			.fecha {
				margin-left: 15px;
			}
			h3 {
				max-width: 180px;
			}
		}
	}
	.nuestros-mun .container .col-lg-6 {
		.informacion {
			padding: 26px 53px;
		}
		img {
			height: 293px;
			border-top-left-radius: 4px;
			border-bottom-right-radius: 0px;
		}
		a {
			right: 45px;
			bottom: 20px;
		}
		p {
			margin-bottom: 2rem;
		}
	}
	footer {
		.col-lg-2 {
			padding: 25px 1.5rem !important;
			span.borde {
				position: relative;
				top: auto;
				right: auto;
				width: 50%;
				height: 1px;
				margin: 30px auto 0;
			}
		}
		.col-lg-2.first {
			padding: 40px 40px 10px !important;
		}
		.col-6:nth-of-type(2n+1) {
			padding: 20px 15% 0 0.5rem !important;
		}
		.col-6:nth-of-type(2n) {
			padding: 20px 0.5rem 0 15% !important;
		}
	}
	.col-md-8 .descarga li {
		padding-right: 6.2rem;
		a {
			width: 80px;
		}
	}
	.contacto form > span {
		float: none;
		display: block;
		margin-bottom: 1rem;
	}
}
@media (max-width: 480px) {
	.municipio-mes .container-responsive .informacion h2  {
		span {
			max-width: 195px;
		}
		span.linea {
			width: 30px;
			max-width: 30px;
		}
	}
}