
@import "font-awesome.min.scss";
@import "animate.scss";

/*@import "responsivetienda.scss";*/


html {
	font-size: 14px;	
}
body {
	font-family: 'robotoregular';
}
.clear {
	clear: both;
}
h2, h3 {
	font-family: 'roboto_slabbold';
}
header {
	.navbar-inverse .navbar-nav .nav-link,
	.navbar-inverse .navbar-nav .nav-link:hover,
	.navbar-inverse .navbar-nav .nav-link:focus {
		font-size: 0.93rem;
		color: rgba(255, 255, 255, 1);
		border-bottom: 3px solid transparent;
	}
	.navbar-inverse .navbar-nav .nav-link:hover {
		border-bottom: 3px solid rgba(184, 24, 43, 1);
	}
	.navbar-brand img {
		max-width: 236px;
	}
	.navbar-brand img.scroll {
		display: none;
		width: 150px;
		max-width: 150px;
	}
	.navbar {
		padding-top: 43px;
		font-family: 'roboto_slabbold';
		a.lupa {
			margin-right: 50px;
			display: none;
			text-decoration: none;
			.ico-buscador::before {
				color: rgba(42, 59, 125, 1);
				font-size: 20px;
			}
		}
		a.lupa.blanco {
			.ico-buscador::before {
				color: #fff;
			}
		}
	}
	.info {
		position: absolute;
		width: 100%;
		min-height: 37px;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1100;
		font-family: 'robotoregular';
		font-size: 0.86rem;
		color: #FFF;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		.container {
			min-height: 37px;
			> div {
				float: right;
				margin-top: 7px;
			}
		}
		span {
			padding-right: 11px;
			b {
				font-family: 'robotobold';
				font-weight: normal;
			}
		}
		.carrito {
			position: relative;
			span.ico-carrito {
				display: inline-block;
				vertical-align: middle;
				font-size: 21px;
				border-left: 1px solid rgba(255, 255, 255, 0.2);
				padding: 0 0 0 11px;
			}
			.ico-carrito.active {
				border-left: 1px solid rgba(68, 68, 68, 1);
			}
			span.punto {
				position: absolute;
				display: none;
				height: 10px;
				width: 10px;
				top: -2px;
				right: -5px;
				background-color: rgba(244, 59, 59, 1);
				border-radius: 10px;
			}
		}
	}
	h5 {
		display: inline-block;
		font-size: 0.86rem;
		margin-top: 11px;
	}
}

.ico-carrito.active::before {
	color: rgba(42, 59, 125, 1);
}

.ico-carrito.interna::before {
	color: #fff;
}
 /* Estilos carrusel principal */

#carrusel-principal {
	.carousel-item {
			opacity: 0.85;
			transition: opacity 0.9s ease-in-out;
		img.d-block {
			width: 100%;
		}
		.sombra {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100% !important;
			height: auto;
			background: -webkit-linear-gradient(-180deg, rgba(0, 30, 81, 1) 0%, rgba(0, 0, 0, 0) 100%);
			background: -moz-linear-gradient(-180deg, rgba(0, 30, 81, 1) 0%, rgba(0, 0, 0, 0) 100%);
			background: -o-linear-gradient(-180deg, rgba(0, 30, 81, 1) 0%, rgba(0, 0, 0, 0) 100%);
			background: linear-gradient(-180deg, rgba(0, 30, 81, 1) 0%, rgba(0, 0, 0, 0) 100%);
			z-index: 5;
		}
	}
	.carousel-item.active {
		opacity: 1;
	}
	.carousel-caption.d-md-block {
		max-width: 631px;
		right: 30%;
		left: 30%;
		bottom: 115px;
	}
	.carousel-caption {
		h4 {
			font-family: 'roboto_slabbold';
			font-size: 1.45rem;
			color: rgba(244, 209, 1, 1);
			letter-spacing: 0.25em;
			margin-bottom: 0.4rem;
		}
		h3 {
			font-size: 3.15rem;
			text-transform: uppercase;
			margin-bottom: 1.5rem;
		}
		p {
			font-family: 'robotomedium_italic';
			font-size: 1.22rem;
			line-height: 22px;
			margin-bottom: 1.3rem;
		}
		div {
			span {
				display: inline-block;
				height: 3px;
				width: 23%;
				background-color: #fff;
			}
			a.btn {
				background-color: transparent;
				border-color: #fff;
				font-family: 'roboto_slabbold';
				font-size: 1.22rem;
				border-radius: 8px;
				padding: 1rem 2.4rem;
			}
			a.btn:hover {
				background-color: rgba(184, 24, 43, 1);
				border-color: rgba(184, 24, 43, 1);
			}
		}
	} 
}
#carrusel-principal .carousel-control-prev-icon, #carrusel-principal .carousel-control-next-icon {
	background-image: none;
	height: 18px;
	width: 18px;
	border-top: 2px solid rgba(255, 255, 255, 1);
	border-left: 2px solid rgba(255, 255, 255, 1);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#carrusel-principal .carousel-control-next-icon {
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

/* Estilos formulario de busqueda */

.form-control::-webkit-input-placeholder { color:  rgba(205, 212, 220, 1);}
.form-control:-moz-placeholder { color:  rgba(205, 212, 220, 1);}
.form-control::-moz-placeholder { color:  rgba(205, 212, 220, 1);}
.form-control:-ms-input-placeholder { color:  rgba(205, 212, 220, 1);}
form {
	margin-top: -40px;
	.container {
		padding: 0 75px;
		.row {
			border-radius: 4px;
			box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
			background-color: #ffffff;
			div {
				padding: 0;
				.form-control {
					height: 80px !important;
					border: none;
					font-family: 'robotoregular';
					font-size: 1.14rem;
					width: 100% !important;
					color: rgba(68, 68, 68, 1);
				}
				input[type="text"] {
					padding: 7px 37px;
				}
				.select {
					width: 100%;
					overflow: hidden;
					background: #fff url("../img/flecha_abajo.svg") no-repeat 93% center;
					font-size: 1.14rem;
					font-family: 'robotoregular';				
					select {
						padding: 5px 8px 5px 25px;
						width: 130%;
						font-size: 1.14rem;
						line-height: 5rem;
						border: none;
						box-shadow: none;
						background-color: transparent;
						appearance: none;
					}
					.border {
						display: inline-block;
						height: 57px;
						width: 1px;
						margin: 11px;
						background-color: rgba(205, 212, 221, 1);
					}	
				}
				select.form-control.placeholder {
					color: rgba(205, 212, 220, 1);
				}
				select.form-control {
					color: rgba(68, 68, 68, 1);
				}
			}
			button.btn-primary {
				height: 80px;
				width: 101%;
				background: url('../img/lupa.svg') center center no-repeat;
				background-size: 24px 24px;
				background-color: rgba(86, 162, 50, 1);
				border: none;
				text-indent: -9999px;
				cursor: pointer;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
			button.btn-primary:hover {
				background-color: rgba(39, 96, 11, 1);
			}
		}	
	}
}

/* EStilos footer */

footer {
	position: relative;	
	background-color: rgba(41, 58, 125, 1);
	.redes {
		background-color: #FFF;
		margin: 0;
		padding: 11px 0 0;
		text-align: center;
		h3 {
			display: inline-block;
			font-size: 1rem;
			margin-right: 10px;
		}
		ul {
			text-align: center;
			display: inline-block;
			li {
				display: inline-block;
				margin: 8px 11px;
				a {
					display: inline-block;
					height: 30px;
					font-family: 'robotobold';
					font-size: 1rem;
					color: rgba(42, 59, 125, 1);
					padding: 0px;
					img {						
						height: 30px;
						width: 30px;
						margin-right: 6px;
						margin-top: -3px;
					}
				}
				a:hover {
					color: rgba(42, 59, 125, 1);
				}
			}
		}
	}
	div {
		font-family: 'robotomedium';
		font-size: 0.94rem;
		color: rgba(255, 255, 255, 1);
	}
	.col-lg-2 {
		position: relative;
		padding-top: 55px; 
		span.borde {
			position: absolute;
			top: 48px;
			right: 5px;
			width: 1px;
			height: 196px;
			display: block;
			background-color: rgba(64, 156, 255, 1);
		}
	}
	h3 {
		font-size: 0.94rem;
		line-height: 21px;
		color: rgba(65, 156, 255, 1);
	}
	ul {
		li { 
			a {
				font-family: 'robotomedium';
				font-size: 0.94rem;
				color: rgba(255, 255, 255, 1);
			}
			a:hover {
				color: rgba(244, 209, 1, 1);
			}
		}
	}
	> img {
		display: block;
		width: 50%;
		max-width: 270px !important;
		margin: 0 auto;
	}
}

/* Estilos carruseles*/

.carruseles {
	padding: 90px 0 40px;
	.container .row > div {
		text-align: center;
		margin-bottom: 50px;
	}
	h2 {
		width: 100%;
		font-size: 1.72rem;
		color: rgba(205, 212, 220, 1);
		text-align: left;
		margin-bottom: 2rem;
	}
	a {
		position: absolute;
		top: 4px;
		right: 18px;
		font-family: 'robotoregular';
		font-size: 1.08rem;
		color: rgba(205, 212, 220, 1);
		text-align: left;
		span {			
			vertical-align: middle;
			margin-left: 6px;
		}
		span:before {
			color: rgba(205, 212, 220, 1);
		}
	}
	a:hover {
		text-decoration: none;
		color: rgba(42, 59, 125, 1);
		span:before {
			color: rgba(42, 59, 125, 1);
		}
	}
	.carousel-indicators {
		bottom: -45px;
		li {
			background-color: white;
			border: 1px solid rgba(41, 58, 125, 1);
			height: 10px;
			max-width: 10px !important;
			border-radius: 5px;
		}
		.active {
			background-color: rgba(41, 58, 125, 1);
		}
	}
}
.carruseles .sombra {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100% !important;
	height: 60%;
	background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 30, 81, 1) 100%);
	z-index: 10;
	border-radius: 4px !important;
}
.carruseles {
	.carousel {
		border-radius: 4px !important;
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
		max-width: 100%;
	}
}

.carruseles .carousel-item {
	color: #fff;
	border-radius: 10px;
	border-radius: 4px !important;
	overflow: hidden;
	height: 375px;
	max-width: 100%;
	overflow: hidden;
	img {
		height: 375px;
		width: auto;
		border-radius: 4px !important;
	}
	h4 {
		position: absolute;
		top: 35px;
		left: 0;
		display: inline-block;
		padding: 0.72rem 0.5rem 0.65rem 1.58rem ;
		height: 38px;
		font-family: 'robotomedium_italic';
		font-size: 1.15rem;

		background-color: rgba(249, 156, 23, 1);
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
		span {
			position: absolute;
			top: 0px;
			right: -19px;
			width: 0; 
			height: 0; 
			border-left: 19px solid rgba(249, 156, 23, 1);
			border-top: 19px solid transparent;
			border-bottom: 19px solid transparent;
		}
	}
	h3 {
		display: block;
		width: 100%;
		max-width: 710px;
		padding: 0 2.65rem;
		margin: 0;
		position: absolute;
		bottom: 30px;
		left: 0;
		font-size: 1.72rem;
		line-height: 32px;
		z-index: 20;
		text-align: left;
		color: #fff;
	}
	img {
	}
	.info {
		position: absolute;
		bottom: 37px;
		left: 0;
		width: 100%;
		z-index: 20;
		text-align: left;
		h3 {
			position: relative;
			padding: 0;
			width: auto;
			max-width: 198px;
			bottom: auto;
			text-align: left;
			vertical-align: middle;
		}
		.fecha {
			font-family: 'robotobold';
			width: 80px;
			margin: 0 22px 0 35px;
			font-size: 3.15rem;
			color: rgba(68, 68, 68, 1);
			background-color: rgba(255, 255, 255, 1);
			border-radius: 4px;
			box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
			text-align: center;
			vertical-align: middle;
			span {
				display: block;
				font-family: 'robotomedium';
				font-size: 1.43rem;
				color: rgba(255, 255, 255, 1);
				background-color: rgba(227, 56, 56, 1);
				border-bottom: 4px solid rgba(166, 29, 29, 1);
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				text-transform: uppercase;

			}
		}
	}
}

/* Estilos nuestros municipios */

.nuestros-mun {
	position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #1F2D67;
	padding-bottom: 67px;
	.degradado {
		position: absolute;
		width: 100%;
		img {
			width: 100%;
		}
		.sombra {
			position: absolute;
			display: block;
			background: linear-gradient(-180deg, rgba(41, 58, 125, 0.45) 0%, rgba(31, 45, 103, 1) 100%);
			width: 100%;
			height: 100%;
		}
	}
	.container {
		h2 {
			width: 100%;
			color: #fff;
			font-size: 3.1rem;
			margin: 5rem 0 4.6rem;
		}
		.col-lg-6 {
			margin-bottom: 20px;
			> div {
				border-radius: 4px;
				box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
				background-color: rgba(86, 162, 50, 1);
				overflow: hidden;
			}
			h3 {
				font-size: 1.73rem;
				color: rgba(39, 96, 12, 1);
			}
			p {
				font-family: 'robotoregular';
				font-size: 1rem;
				line-height: 22px;
				color: #fff;
			}
			.informacion {
				position: relative;
				padding: 26px 15px 26px 53px
			}
			img {
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				height: 305px;
				width: 100%;
			}
			a {
				position: absolute;
				right: 23px;
				bottom: 20px;
				font-family: 'robotoregular';
				color: rgba(244, 209, 1, 1);
				font-size: 1rem;
				text-align: left;
				span {
					vertical-align: middle;
					margin-left: 7px;
				}
			}
			a:hover {
				text-decoration: none;
				color: #fff;
				span:before {
					color: #fff;
				}
			}
		}
	}
}

/* Estilos te puede interesar*/

.interes {
	background-color: #F9FAFB;
	padding-bottom: 3.6rem;
	.container {
		h2 {
			width: 100%;
			font-size: 3.1rem;
			color: rgba(143, 151, 162, 1);
			margin: 5rem 0 4.6rem;
		}
		.text-center {
			margin-bottom: 30px;
			img {
				border-top-right-radius: 4px;
				border-top-left-radius: 4px;
			}
			div.d-inline-block {
				background-color: #ffffff;
				border-radius: 4px;
				box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
				padding-bottom: 20px;
				overflow: hidden;
			}
			img {
				height: 175px;
			}
			h3 {
				font-size: 1.29rem;
				color: rgba(184, 24, 43, 1);
				margin-bottom: 5px;
				margin-top: 17px;
			}
			span {
				font-family: 'robotoregular';
				font-size: 1rem;
				color: rgba(143, 151, 162, 1);
				margin-bottom: 22px;
			}

			a.btn {
				background-color: transparent;
				border-color: rgba(86, 162, 50, 1);
				color: rgba(86, 162, 50, 1);
				font-family: 'roboto_slabregular';
				font-size: 1.08rem;
				border-radius: 8px;
				padding: 11px 1.6rem 10px;
			}
			a.btn:hover {
				background-color: rgba(86, 162, 50, 1);
				color: #FFFFFF;
			}
		}
	}
}

/* Estilos municipio del mes */

.municipio-mes {
	.container-responsive {
		.row {
			margin-right: 0; 
		}
		.row > div {
			background-color: rgba(184, 24, 43, 1);
		}
		img {
			width: 100%;
			height: 100%;
		}
		.informacion {
			text-align: center;
			color: #FFF;
			padding: 35px 17.5px;
			.flex-parent {
				width: 100%;
				max-width: 430px;
				height: 100%;
				border: 1px solid #CD5D6B;
				padding: 21px;
				display: -ms-flex;
				display: -webkit-flex;
				display: flex;
				.flex-child{
					display: -ms-flex;
					display: -webkit-flex;
					display: flex;
					justify-content: center;
					flex-direction: column;
				}
			}
			h2 {
				position: relative;
				display: inline-block;
				width: auto;
				font-size: 2.86rem;
				color: rgba(244, 209, 1, 1);
				span {
					display: inline-block;
					vertical-align: middle;
					max-width: 240px;
				}
				span.linea {
					background-color:rgba(244, 209, 1, 1);
					height: 1px;
					width: 36px;
					max-width: 36px;
				}
				span:first-child { margin: 0 10px 0 0;}
				span:last-child { margin: 0 0 0 10px;}
			}
			h3 {
				font-size: 1.43rem;
				font-family: 'robotomedium';
				margin-bottom: 31px;
			}
			p {
				line-height: 22px;
				margin-bottom: 28px;
			}
			a.btn-primary {
				background-color: transparent;
				border-color: #ffffff;
				color: #ffffff;
				font-family: 'roboto_slabregular';
				font-size: 1.08rem;
				border-radius: 8px;
				padding: 11px 1.6rem 10px;
				width: 140px !important;
			}
			a:hover {
				background-color: rgba(244, 209, 1, 1);
				border-color: rgba(244, 209, 1, 1);
			}
		}
	}
}

/* Estilos pagimas internas */

.interna {
	padding-top: 138px;
	background-color: #F9FAFB;
	header .navbar {
		border-bottom: 3px solid #3886dc;
		.navbar-brand img {
			max-width: 150px;
		}
	}
	section {
		padding-bottom: 50px;
	} 
}

/* Estilos miga de pan */
.miga {
	color: rgba(143, 151, 162, 1);
	margin-bottom: 2.2rem;
	.d-inline-block {
		vertical-align: top;
	}
	.breadcrumb {
		background-color: transparent;
		.breadcrumb-item {
			color: rgba(65, 156, 255, 1);
			a {
				color: rgba(65, 156, 255, 1);
			}
			+ .breadcrumb-item::before {
				padding-right: 0.3rem;
				padding-left: 0.3rem;
				color: rgba(143, 151, 162, 1);
				content: ">";
			}
		}
		.active {
			font-family: 'robotomedium';
		}
	}
}
/* Estilos resdes páginas */
.redes-int {
	width: 90%;
	max-width: 435px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid rgba(202,202,202,1);
	border-style: dashed;
	padding: 9px 0;
	span {
		font-family: 'roboto_slabbold';
		color: rgba(68, 68, 68, 1);
		vertical-align: middle;
	}
	ul {
		display: inline-block;
		margin: 0 0 0 6px;
		li {
			display: inline-block;
			margin: 4px;
			a {
				display: inline-block;
				width: 40px;
				height: 40px;
				img {
					width: 40px;
					height: 40px;
				}
			}
			a:hover {
				-webkit-transition: 900ms;
				-moz-transition: 900ms;
				-o-transition: 900ms;
				transition: 900ms;
				-ms-transform: translate(0px, -10px); /* IE 9 */
				-webkit-transform: translate(0px, -10px); /* Safari */
				transform: translate(0px, -10px);
			}
		}
	}
}

/* Estilos contenido */
.contenido {
	width: 100%;
	padding-bottom: 60px;
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	color: rgba(68, 68, 68, 1);
	> h2 {
		padding: 1.15rem 2.93rem 1.3rem;
		background-color: rgba(86, 162, 50, 1);
		font-size: 2.15rem;
		color: rgba(255, 255, 255, 1);
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom: 3px solid rgba(53, 128, 17, 1);
		margin: 0;
	}
	h3 {
		font-size: 2.29rem;
		line-height: 3.08rem;
		margin: 5.07rem auto 1rem;
	}
	p.descripcion {
		font-family: 'robotomedium';
		font-size: 1.15rem;
		line-height: 1.79rem;
		margin-bottom: 0;
	}
	h4 {
		font-family: 'roboto_slabbold';
		font-size: 1.72rem;
		color: rgba(184, 24, 43, 1);
		margin-bottom: 1.22rem;
	}
	.borde {
		width: 100%;
		max-width: 753px;
		position: relative;
		border-bottom: 1px solid rgba(221,223,227, 1);
		margin: 24px auto 60px;
		span {
			display: inline-block;
			position: absolute;
			top: -5px;
			left: 50%;
			width: 32px;
			height: 10px;
			background-color: #fff;
			margin-left: -16px;
		}
		.punto {
			width: 10px;
			margin-left: -5px;
			border-radius: 5px;
			background-color: rgba(221,223,227, 1);
		}
	}
}

/* Estilos a segundo nivel */
.segundo-nivel {
	.contenido {
		h3, p, h4 {
			width: 100%;
			max-width: 753px;
			margin: 0 auto
		}
		h3 {
			margin: 5.07rem auto 1rem;
		}
		p {
			margin-bottom: 2.57rem;
		}
		h4 {
			margin-bottom: 1.22rem;
		}
		.enlaces {
			width: 100%;
			max-width: 980px;
			margin: 0 auto;
			div {
				margin-bottom: 35px;
			}
		}
		.btn-primary {
			display: table;
			width: 100%;
			max-width: 210px;
			height: 90px;
			margin: 0 auto;
			border: 1px solid rgba(86, 162, 50, 1);
			background-color: transparent;
			color: rgba(86, 162, 50, 1);
			white-space: inherit;
			font-family: 'roboto_slabbold';
			font-size: 1.15rem;
			line-height: 1.5rem;
			border-radius: 8px;
			span {
				display: table-cell;
				vertical-align: middle;
			}
		}
		.btn-primary:hover {
			background-color: rgba(86, 162, 50, 1);
			color: #fff;
		}
		.ver-mapa {
			width: 85%;
			max-width: 300px;
			height: 70px;
			margin: 0 auto 3.57rem;
			color: rgba(86, 162, 50, 1);
		}
	}
}


/* Estilos Noticias y  Blog */

.noticias {
	.contenido {
		h3, p {
			width: 100%;
			max-width: 753px;
			margin: 0 auto
		}
		h3 {
			margin: 5.07rem auto 1rem;
		}
	}
}

.blog {
	h3 {
		text-align: center;
	}
	.list-municipios {
		width: 100%;
		max-width: 850px;
		margin: 1.6rem auto 3.93rem;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 0.28rem 0.64rem;
			a.btn-primary {
				padding: 1rem 0.93rem;
				border-radius: 4px;
				color: rgba(65, 156, 255, 1);
				border-color: rgba(65, 156, 255, 1);
				background-color: transparent;;
			}
			a.btn-primary:hover, a.active {
				color: #fff;
				border-color: rgba(41, 58, 125, 1);
				background-color: rgba(41, 58, 125, 1);
			}
		}
	}
	.contenido .lista  {
		margin: 1.23rem auto 0;
	}
}

.contenido .lista {
	width: 100%;
	max-width: 1014px;
	margin: 5.57rem auto 0;
	div {
		margin-bottom: 75px;
	}
	h3 {
		font-size: 1.08rem;
		line-height: 1.72rem;
		margin: 1.36rem 0 0.53rem;
		text-align: left;
		a {
			color: rgba(68, 68, 68, 1);
			text-decoration: none;
		}
		a:hover {
			border-bottom: 2px solid rgba(161,161,161,1);
		}
	}
	h4 {
		display: inline-block;
		font-family: 'robotomedium_italic';
		font-size: 1rem;
		background-color: rgba(249, 156, 23, 1);
		color: #fff;
		padding: 9px 7px;
		margin-bottom: 0.64rem
	}
	span {
		display: block;
		font-size: 0.93rem;
		color: rgba(143, 151, 162, 1);
	}
}

/* Estilos paginación*/

.cnt-pagination {
	text-align: center;
	display: inline-block;
	width: 100%;
	margin: -1.5rem 0 5.93rem;
	.pagination {
		display: inline-block;
		border-radius: 3px;
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
		min-height: 54px;
		margin-bottom: 0;
		padding-left: 1px;
		li {
			display: inline-block;
			padding: 7px 0;
			height: 100%;
			.page-link {
				padding: 10px 22px;
				margin-left: -1px;
				color: rgba(68, 68, 68, 1);
				border: none;
				font-size: 1.08rem;
				border-left: 2px solid #f6f6f6;
				.ico-flecha::before {
					color: rgba(68, 68, 68, 1);
				}
			}
			.prev {
				border-left: none;
			}
			.prev {
				-webkit-transform: rotate(-180deg);
				-ms-transform: rotate(-180deg);
				transform: rotate(-180deg);
			}
			.page-link:hover {
				background-color: #fff;
				color: rgba(184, 24, 43, 1);
				.ico-flecha::before {
					color: rgba(184, 24, 43, 1);
				}
			}
		}
	}
}

/* Estilos artículo blog */

.blog-articulo {
	.cont-img {
		position: relative;
		margin-bottom: 4.57rem;
		img {
			display: block;
			width: 100%;
		}
		div {
			position: absolute;
			bottom: 39px;
			left: 70px;
			color: #fff;
			h3 {
				margin: 0 0 0.5rem 0;
				font-size: 2.43rem;
				max-width: 780px;
			}
			span {
				font-size: 0.93rem;
				padding: 0 0.93rem;
				border-left: 1px solid #fff;
			}
			.municipio {
				color: rgba(249, 156, 23, 1);
				border: none;
				padding-left: 0;
			}
		}
		.sombra {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 60%;
			background: -webkit-linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 30, 81, 1) 100%);
			background: -moz-linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 30, 81, 1) 100%);
			background: -o-linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 30, 81, 1) 100%);
			background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 30, 81, 1) 100%);
		}
	}
	p {
		padding: 0 15px;
		width: 100%;
		max-width: 685px;
		margin: 0 auto 1.71rem;
		line-height: 1.71rem;
	}
	.art-sig-ant {
		width: 100%;
		max-width: 655px;
		margin: 4.57rem auto 0;
		padding: 17px 0;
		border-top: 1px solid #dedede;
		border-bottom: 2px solid #dedede;
		div {
			position: relative;
			a {
				display: inline-block;
				color: rgba(68, 68, 68, 1);
				line-height: 1.79rem;
				text-decoration: none;
				padding: 0 35px;			
				.ico-flecha::before {
					font-size: 25px;
					color: rgba(143, 151, 162, 1)
				}
			}
			a:hover {
				color: #b8182b;
				.ico-flecha::before {
					color: #b8182b;
				}
			}
			.prev a {
				padding-right: 10px;
			}
			.next a {
				padding-left: 10px;
			}
			a.flecha {
				height: 23px;
				width: 17px;
				padding: 0;
				position: absolute;
				top: 50%;
				right: 18px;
				margin-top: -11.5px;
			}
			.prev a.flecha{
				right: auto;
				left: 18px;
				-webkit-transform: rotate(-180deg);
				-ms-transform: rotate(-180deg);
				transform: rotate(-180deg);
			}			
		}
		div.col-md-6:first-child {
			border-right: 1px solid #dedede;
		}
		div.col-md-6:last-child {
			border-left: 1px solid #dedede;
		}
	}
	.comentarios {
		width: 90%;
		max-width: 655px;
		margin: 3.93rem auto 0;
		h4 {
			font-family: 'roboto_slabregular';
			font-size: 2.14rem;
			color: rgba(86, 162, 50, 1);
			margin-bottom: 0.93rem;
		}
		div {
			border: 1px solid rgba(151, 151, 151, 1);
		}
	}
}

/* Estilos de una noticia */

.noticia {
	.row {
		width: 100%;
		max-width: 1050px;
		margin: 5.14rem auto 0;
		.menu {
			background-color: #fff;
		}
		ul.menu {
			display: block;
			width: 100%;
			max-width: 291px;
			border-radius: 4px;
			box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
			margin-top: 0.71rem;
			background-color: #fff;
			li {
				padding: 0;
				margin-bottom: 1px;
				border: none;
				a {
					display: block;
					width: 100%;
					padding: 1.14rem 2.57rem;
					font-family: 'roboto_slabbold';
					color: #444444;
					background-color: #f7f8f9;
				}
				a:hover {
					background-color: #8f97a2;
					color: #fff;
					text-decoration: none;
				}				
			}
			.list-group-item.active {
				border-color: #8f97a2;
				a {
					color: #fff;
					background-color: #8f97a2;
				}
			}
			li:first-child {
				a {
					border-top-left-radius: 4px;
					border-top-right-radius: 4px; 
				}
			}
			li:last-child {
				margin-bottom: 0;
				a {
					border-bottom-left-radius: 4px;
					border-bottom-right-radius: 4px;
				}
			}
		}
		h3 {
			font-size: 2.71rem;
			line-height: 3.14rem;
			margin-bottom: 0.43rem;
		}
		span {
			display: inline-block;
			font-size: 0.93rem;
		}
		.municipio {
			color: rgba(249, 156, 23, 1);
			padding-right: 0.8rem;
			margin-bottom: 1.14rem;
		}
		.fecha {
			color: rgba(205, 212, 220, 1);
			border-left: 1px solid rgba(205, 212, 220, 1);
			padding-left: 0.8rem;
		}
		.foto {
			font-size: 0.86rem;
			color: rgba(143, 151, 162, 1);
			font-family: 'robotoitalic';
			display: block;
			text-align: right;
			margin: 0.93rem 0 1.93rem;
		}
		p {
			line-height: 1.72rem;
			margin-bottom: 1.86rem;
		}
		.float {
			float: left;
			max-width: 261px;
			margin: 8px 26px 18px 0;
		}
	}
}

.col-md-8 > ul, .col-lg-8 > ul {
	margin-bottom: 21px;
	li {
		position: relative;
		padding-left: 1.79rem;
		margin-bottom: 3px;
		.ico-flecha {
			position: absolute;
			left: 0;
			top: 5px;
		}
		.ico-flecha::before {
			color: #b8182b;
			font-size: 1rem;
		}
	}
}

.col-md-8 .descarga, .col-lg-8 .descarga  {
	margin: 3.07rem 0 3rem;
	li {
		position: relative;
		border-radius: 3px;
		border: none;
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
		padding: 1.18rem 8.93rem 1.18rem 1.93rem;
		margin-bottom: 8px;
		a {
			text-align: center;
			position: absolute;
			top: 0;
			right: 0;
			width: 110px;
			height: 100%;
			display: inline-block;
			background-color: rgba(184, 24, 43, 1);
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			.ico-descarga {
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -8.5px 0 0 -7px;
			}
			.ico-descarga:before {
				font-size: 17px;
			}
		}
		a:hover {
			text-decoration: none;
			background-color: rgba(219, 122, 17, 1);
		}
	}
}

.col-md-8 .destacados, .col-lg-8 .destacados {
	margin-bottom: 60px;
	li {
		padding: 0;
		box-shadow: none;
		border: none;
		margin-bottom: 8px;
		a {
			display: block;
			width: 100%;
			border-radius: 3px;
			box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
			padding: 1.18rem 3.93rem 1.18rem 1.93rem;
			color: rgba(68, 68, 68, 1);
			.ico-flecha {
				left: auto;
				right: 32px;
				top: 50%;
				margin-top: -7px;
			}
		}
		a:hover {
			text-decoration: none;
			box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
			.ico-flecha:before {
				color: rgba(219, 122, 17, 1);;
			}
		}
	}
}

.table {
	margin-top: 2.64rem;
	thead th {
		border-bottom: none;		
	}
	td:last-child, th:last-child {
		text-align: center;
	}
	th, td {
		padding: 1.04rem;
		border-top: none;
	}
	th:first-child {
		padding-left: 6.07rem;
	}
	td:first-child {
		padding-left: 3.57rem;
	}
}
.thead-default th {
	color: #fff;
	background-color: rgba(184, 24, 43, 1);
	font-family: 'alegreyasans_bold';
	font-size: 1.29rem;
}
.table-striped tbody tr:nth-of-type(2n+1) {
	background-color: transparent;
}
.table-striped tbody tr:nth-of-type(2n) {
	background-color: rgba(181, 188, 198, 0.09);
	border-top: 1px solid rgba(181, 188, 198, 0.28);
	border-bottom: 1px solid rgba(181, 188, 198, 0.28);
}

/* Estilos Municipio */
.municipio {
	.row {
		width: 100%;
		max-width: 950px;
		margin: 8.28rem auto 0;		
		p {
			line-height: 1.72rem;
			margin-bottom: 1.86rem;
		}
		.float {
			float: left;
			max-width: 261px;
			margin: 8px 26px 18px 0;
		}
		.cont-menu{
			position: relative;
		}
		.sub-menu {
			margin-top: 5px;
			width: 100%;
			li {
				margin-bottom: 10px;
				padding: 0;
				border: none;
				a {
					color: #fff;
					width: 100%;
					text-align: center;
					font-family: 'roboto_slabbold';
					font-size: 1.07rem;
					background-color: rgba(219, 122, 17, 1);
					border-radius: 8px;
					padding: 0.99rem 0;
				}
				a:hover {
					text-decoration: none !important;
					background-color: rgba(156, 87, 13, 1);
				}
				a:focus {
					text-decoration: none;
				}
			}
		}
	}
	.informacion {
		position: relative;
		max-width: 100%;
		min-height: 349px;
		background: url('../img/marca_nuestrosmunicipios.png') left 6px no-repeat;
		background-color: rgba(86, 162, 50, 0.1);
		margin: 0;
		.col-md-12 {
			max-width: 950px;
			margin: 0 auto;
			h3, p {
				max-width: 560px;
			}
			h3 {
				margin: 5.07rem auto 1.29rem 0;
			}
		}
		.marco {
			position: absolute;
			top: 25px;
			right: 15px;
			background-color: rgba(255, 255, 255, 1);
			border: 1px solid rgba(214, 214, 214, 1);
			box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
			padding: 1.21rem;
			width: 305px;
			min-height: 378px;
			-webkit-transform: rotate(3deg);
			-ms-transform: rotate(3deg);
			transform: rotate(3deg);
			overflow: hidden;
			img {
				max-width: auto;
				height: 286px; 
			}
			h4 {
				text-align: center;
				font-family: 'yellowtail';
				font-size: 1.57rem;
				color: rgba(68, 68, 68, 1);
				margin: 1.42rem 0 1rem;
			}
		}
	}
	.galeria {
		margin: 1.86rem 0 3.57rem;
		div {
			padding: 0;
			text-align: center;
			margin-bottom: 15px;
		}
		a {
			display: inline-block;
			width: 90%;		
			max-width: 164px;
			height: 115px;
			img {
				height: 100%;
			}
		}
		a:hover {
			outline-style: solid;
			outline-color: rgba(205, 212, 220, 0.6);
			outline-width: 5px;
		}
	}
}
 /*Estilos formulario de contacto*/
.contacto {
	h3, p {
		width: 100%;
		max-width: 753px;
		margin: 0 auto;
	}
	h3 {
		margin: 5.07rem auto 1rem;
	}
	form {
		max-width: 585px;
		margin: 4.79rem auto 6.29rem;
		label {
			margin-bottom: .29rem;
		}
		.form-control {
			height: 50px;
			border: 2px solid rgba(202, 212, 214, 1);
			border-radius: 3px;
			font-family: 'robotoregular';
			box-sizing: border-box;
			-moz-box-sizing: border-box;/* Firefox */
			-webkit-box-sizing: border-box; /* Safari */ 
		}
		.form-control-danger {
			border-color: rgba(254, 116, 133, 1);
		}
		textarea.form-control {
			resize: none;
			height: 122px;
		}
		> span {
			display: inline-block;
			float: right;
			font-size: 0.86rem;
		}
		.btn-primary {
			cursor: pointer;
			height: 50px;
			width: 120px;
			background-color: #db7a11;;
			border-color: #db7a11;;
			border-radius: 4px;
			font-family: 'roboto_slabbold';
			font-size: 1.07rem;
		}
		.btn-primary:hover {
			background-color: #9c570d;
			border-color: #9c570d;;
		}
		.msg {
			border-radius: 10px;
			color: white;
			display: block;
			font-weight: bold;
			margin-top: 13px;
			padding: 10px 15px;
			text-align: center;
			text-transform: uppercase;
			border-radius: 3px;
		}
		.msg-ok {
			background: #589d05;
		}
		.msg-error {
			background: rgba(254, 116, 133, 1)
		}
		.form-group {
			position: relative;
			.error {
				position: absolute;
				bottom: 0;
				right: -257px;
				max-width: 250px;
				min-width: 250px;
				display: inline-block;
				background: url('../img/ico_informacion.png') no-repeat left center;
				background-size: 24px 24px;
				padding-left: 36px;
				span {
					position: relative;
					display: inline-block;
					float: none;
					min-height: 56px;
					background-color: rgba(254, 116, 133, 1);
					border: 1px solid rgba(203, 92, 106, 1);
					border-radius: 3px;
					color: #fff;
					line-height: 1.5rem;
					padding: 16px 24px;
				}
				span::before {
					position: absolute;
					display: inline-block;
					top: 50%;
					left: -6px;
					content: ' ';
					width: 10px;
					height: 10px;
					margin-top: -6px;
					background-color: rgba(254, 116, 133, 1);
					border-left: 1px solid rgba(203, 92, 106, 1);
					border-top: 1px solid rgba(203, 92, 106, 1);
					-webkit-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
			}
		}
	}
}

.segundo-nivel {
	.contenido {
		.lista {
			margin-top: 50px;
			h4 {
				width: auto;
				max-width: auto;
			}
			div {
				margin-bottom: 40px;
			}
		}
		.btn-primary.act {
			width: 90%;
			max-width: 300px;
			height: 70px;
			margin-bottom: 35px;
		}
	}
}
@import "main.scss";
@import "responsive.scss";