html {
	font-size: 14px;
}
.clear {
	clear: both;
}
header .navbar {
	font-family: 'roboto_slabbold';
}
.navbar-brand img {
	max-width: 232px;
}
.navbar-inverse .navbar-nav .nav-link,
.navbar-inverse .navbar-nav .nav-link:hover,
.navbar-inverse .navbar-nav .nav-link:focus {
	font-size: 0.93rem;
	color: rgba(255, 255, 255, 1);
	border-bottom: 3px solid transparent;
}
.navbar-inverse .navbar-nav .nav-link:hover {
	border-bottom: 3px solid rgba(184, 24, 43, 1);
}
.carousel-item img.d-block {
	width: 100%;
}
.carousel-caption.d-md-block {
	max-width: 631px;
	right: 30%;
	left: 30%;
	bottom: 115px;
}
	.carousel-caption {
		h4 {
			font-family: 'roboto_slabbold';
			font-size: 1.45rem;
			color: rgba(244, 209, 1, 1);
			letter-spacing: 0.25em;
			margin-bottom: 0.4rem;
		}
		h3 {
			font-family: 'roboto_slabbold';
			font-size: 3.15rem;
			text-transform: uppercase;
			margin-bottom: 1.5rem;
		}
		p {
			font-family: 'robotomedium_italic';
			font-size: 1.22rem;
			line-height: 22px;
			margin-bottom: 1.3rem;
		}
		div {
			span {
				display: inline-block;
				height: 3px;
				width: 124px;
				background-color: #fff;
			}
			a.btn {
				background-color: transparent;
				border-color: #fff;
				font-family: 'roboto_slabbold';
				font-size: 1.22rem;
				border-radius: 8px;
				padding: 1rem 2.4rem;
			}
			a.btn:hover {
				background-color: rgba(184, 24, 43, 1);
				border-color: rgba(184, 24, 43, 1);
			}
		}
	}
.carousel-item .sombra {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100% !important;
	height: auto;
	background: -webkit-linear-gradient(-180deg, rgba(0, 30, 81, 1) 0%, rgba(0, 0, 0, 0) 100%);
	background: -moz-linear-gradient(-180deg, rgba(0, 30, 81, 1) 0%, rgba(0, 0, 0, 0) 100%);
	background: -o-linear-gradient(-180deg, rgba(0, 30, 81, 1) 0%, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(-180deg, rgba(0, 30, 81, 1) 0%, rgba(0, 0, 0, 0) 100%);
	z-index: 5;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	background-image: none;
	height: 18px;
	width: 18px;
	border-top: 2px solid rgba(255, 255, 255, 1);
	border-left: 2px solid rgba(255, 255, 255, 1);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.carousel-control-next-icon {
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

.carousel-item {
	opacity: 0.85;
 	transition: opacity 0.9s ease-in-out;
}
.carousel-item.active {
	opacity: 1;	
}

.hola .container {
	background-color: purple;
}

footer {
	position: relative;
	height: 556px;
	background-color: rgba(41, 58, 125, 1);
	.redes {
		background-color: #FFF;
		margin: 0;
		padding: 11px 0 0;
		text-align: center;
		h3 {
			display: inline-block;
			font-size: 1rem;
			margin-right: 10px;
		}
		ul {
			text-align: center;
			display: inline-block;
			li {
				display: inline-block;
				margin: 8px 11px;
				a {
					display: inline-block;
					height: 30px;
					font-family: 'robotobold';
					font-size: 1rem;
					color: rgba(42, 59, 125, 1);
					padding: 0px;
					img {						
						height: 30px;
						width: 30px;
						margin-right: 6px;
						margin-top: -3px;
					}
				}
				a:hover {
					color: rgba(42, 59, 125, 1);
				}
			}
		}
	}
	div {
		font-family: 'robotomedium';
		font-size: 0.94rem;
		color: rgba(255, 255, 255, 1);
	}
	.col-md-2 {
		position: relative;
		padding-top: 55px; 
		max-width: 14%;
		span.borde {
			position: absolute;
			top: 48px;
			right: 5px;
			width: 1px;
			height: 196px;
			display: block;
			background-color: rgba(64, 156, 255, 1);
		}
	}
	.col-md-2.first {
		max-width: 16%;
	}
	h3 {
		font-size: 0.94rem;
		font-family: 'roboto_slabbold';
		line-height: 21px;
		color: rgba(65, 156, 255, 1);
	}
	ul {
		li { 
			a {
				font-family: 'robotomedium';
				font-size: 0.94rem;
				color: rgba(255, 255, 255, 1);
			}
			a:hover {
				color: rgba(244, 209, 1, 1);
			}
		}
	}
	> img {
		position: absolute;
		display: inline-block;
		width: 30%;
		max-width: 270px !important;
		bottom: 0;
		left: 50%;
		margin-left: -10%;
	}
}

.interes {
	background-color: #F9FAFB;
	padding-bottom: 3.6rem;
	.container {
		h2 {
			width: 100%;
			font-family: 'roboto_slabbold';
			font-size: 3.1rem;
			color: rgba(143, 151, 162, 1);
			margin: 5rem 0 4.6rem;
		}
		.col-md-3 {
			margin-bottom: 30px;
			img {
				border-top-right-radius: 4px;
				border-top-left-radius: 4px;
			}
			div {
				background-color: #ffffff;
				border-radius: 4px;
				box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
				padding-bottom: 20px;
			}
			h3 {
				font-family: 'roboto_slabbold';
				font-size: 1.29rem;
				color: rgba(184, 24, 43, 1);
				margin-bottom: 5px;
				margin-top: 17px;
			}
			span {
				font-family: 'robotoregular';
				font-size: 1rem;
				color: rgba(143, 151, 162, 1);
				margin-bottom: 22px;
			}

			a.btn {
				background-color: transparent;
				border-color: rgba(86, 162, 50, 1);
				color: rgba(86, 162, 50, 1);
				font-family: 'roboto_slabregular';
				font-size: 1.08rem;
				border-radius: 8px;
				padding: 11px 1.6rem 10px;
			}
			a.btn:hover {
				background-color: rgba(86, 162, 50, 1);
				color: #FFFFFF;
			}
		}
	}
}
.nuestros-mun {
	background-image: url("../img/nuestrosmuni.jpg");
	background-size: 100%;
	background-color: linear-gradient(-180deg, rgba(41, 58, 125, 0.45) 0%, rgba(31, 45, 103, 1) 100%);	
	.container {
		h2 {
			width: 100%;
			font-family: 'roboto_slabbold';
			color: #fff;
			font-size: 3.1rem;
			margin: 5rem 0 4.6rem;
		}
		.col-md-6 {
			> div {
				border-radius: 4px;
				box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
				background-color: rgba(86, 162, 50, 1);
			}
			h3 {
				font-family: 'roboto_slabbold';
				font-size: 1.73rem;
				color: rgba(39, 96, 12, 1);
			}
			p {
				font-family: 'robotoregular';
				font-size: 1rem;
				line-height: 22px;
				color: #fff;
			}
			.informacion {
				position: relative;
				display: inline-block;
				width: 49%;
				padding: 24px;
			}
			img {
				display: inline-block;
				width: 50%;
				float: right;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}
			a {
				position: absolute;
				right: 23px;
				font-family: 'robotoregular';
				color: rgba(244, 209, 1, 1);
				font-size: 1rem;
				text-align: left;
				span {
					vertical-align: middle;
					margin-left: 7px;
				}
			}
			a:hover {
				text-decoration: none;
				color: #fff;
				span:before {
					color: #fff;
				}
			}
		}
	}
}
