html {
	font-size: 14px;	
}
body {
	font-family: 'robotoregular';
}
.clear {
	clear: both;
}
h2, h3 {
	font-family: 'roboto_slabbold';
}
header {
	.navbar-inverse .navbar-nav .nav-link,
	.navbar-inverse .navbar-nav .nav-link:hover,
	.navbar-inverse .navbar-nav .nav-link:focus {
		font-size: 0.93rem;
		color: rgba(255, 255, 255, 1);
		border-bottom: 3px solid transparent;
	}
	.navbar-inverse .navbar-nav .nav-link:hover {
		border-bottom: 3px solid rgba(184, 24, 43, 1);
	}
	.navbar-brand img {
		max-width: 236px;
	}
	.navbar-brand img.scroll {
		display: none;
	}
	.navbar {
		padding-top: 43px;
		font-family: 'roboto_slabbold';
		a.lupa {
			margin-right: 50px;
			display: none;
			text-decoration: none;
			.ico-buscador::before {
				color: rgba(42, 59, 125, 1);
				font-size: 20px;
			}
		}
	}
	.info {
		position: absolute;
		width: 100%;
		min-height: 37px;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1100;
		font-family: 'robotoregular';
		font-size: 0.86rem;
		color: #FFF;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		.container {
			min-height: 37px;
			> div {
				float: right;
				margin-top: 7px;
			}
		}
		span {
			padding-right: 11px;
			b {
				font-family: 'robotobold';
				font-weight: normal;
			}
		}
		.carrito {
			position: relative;
			span.ico-carrito {
				display: inline-block;
				vertical-align: middle;
				font-size: 21px;
				border-left: 1px solid rgba(255, 255, 255, 0.2);
				padding: 0 0 0 11px;
			}
			.ico-carrito.active {
				border-left: 1px solid rgba(68, 68, 68, 1);
			}
			span.punto {
				position: absolute;
				display: none;
				height: 10px;
				width: 10px;
				top: -2px;
				right: -5px;
				background-color: rgba(244, 59, 59, 1);
				border-radius: 10px;
			}
		}
	}
	h5 {
		display: inline-block;
		font-size: 0.86rem;
		margin-top: 11px;
	}
}
.ico-carrito.active::before {
	color: rgba(42, 59, 125, 1);
}
 /* Estilos carrusel principal */

#carrusel-principal {
	.carousel-item {
			opacity: 0.85;
			transition: opacity 0.9s ease-in-out;
		img.d-block {
			width: 100%;
		}
		.sombra {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100% !important;
			height: auto;
			background: -webkit-linear-gradient(-180deg, rgba(0, 30, 81, 1) 0%, rgba(0, 0, 0, 0) 100%);
			background: -moz-linear-gradient(-180deg, rgba(0, 30, 81, 1) 0%, rgba(0, 0, 0, 0) 100%);
			background: -o-linear-gradient(-180deg, rgba(0, 30, 81, 1) 0%, rgba(0, 0, 0, 0) 100%);
			background: linear-gradient(-180deg, rgba(0, 30, 81, 1) 0%, rgba(0, 0, 0, 0) 100%);
			z-index: 5;
		}
	}
	.carousel-item.active {
		opacity: 1;
	}
	.carousel-caption.d-md-block {
		max-width: 631px;
		right: 30%;
		left: 30%;
		bottom: 115px;
	}
	.carousel-caption {
		h4 {
			font-family: 'roboto_slabbold';
			font-size: 1.45rem;
			color: rgba(244, 209, 1, 1);
			letter-spacing: 0.25em;
			margin-bottom: 0.4rem;
		}
		h3 {
			font-size: 3.15rem;
			text-transform: uppercase;
			margin-bottom: 1.5rem;
		}
		p {
			font-family: 'robotomedium_italic';
			font-size: 1.22rem;
			line-height: 22px;
			margin-bottom: 1.3rem;
		}
		div {
			span {
				display: inline-block;
				height: 3px;
				width: 124px;
				background-color: #fff;
			}
			a.btn {
				background-color: transparent;
				border-color: #fff;
				font-family: 'roboto_slabbold';
				font-size: 1.22rem;
				border-radius: 8px;
				padding: 1rem 2.4rem;
			}
			a.btn:hover {
				background-color: rgba(184, 24, 43, 1);
				border-color: rgba(184, 24, 43, 1);
			}
		}
	} 
}
#carrusel-principal .carousel-control-prev-icon, #carrusel-principal .carousel-control-next-icon {
	background-image: none;
	height: 18px;
	width: 18px;
	border-top: 2px solid rgba(255, 255, 255, 1);
	border-left: 2px solid rgba(255, 255, 255, 1);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#carrusel-principal .carousel-control-next-icon {
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

/* Estilos formulario de busqueda */

.form-control::-webkit-input-placeholder { color:  rgba(205, 212, 220, 1);}
.form-control:-moz-placeholder { color:  rgba(205, 212, 220, 1);}
.form-control::-moz-placeholder { color:  rgba(205, 212, 220, 1);}
.form-control:-ms-input-placeholder { color:  rgba(205, 212, 220, 1);}
form {
	margin-top: -40px;
	.container {
		padding: 0 75px;
		.row {
			border-radius: 4px;
			box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
			background-color: #ffffff;
			div {
				padding: 0;
				.form-control {
					height: 80px !important;
					border: none;
					font-family: 'robotoregular';
					font-size: 1.14rem;
					width: 100% !important;
					color: rgba(68, 68, 68, 1);
				}
				input[type="text"] {
					padding: 7px 37px;
				}
				.select {
					width: 100%;
					overflow: hidden;
					background: #fff url("../img/flecha_abajo.svg") no-repeat 93% center;
					font-size: 1.14rem;
					font-family: 'robotoregular';				
					select {
						padding: 5px 8px 5px 25px;
						width: 130%;
						font-size: 1.14rem;
						line-height: 5rem;
						border: none;
						box-shadow: none;
						background-color: transparent;
						appearance: none;
					}
					.border {
						display: inline-block;
						height: 57px;
						width: 1px;
						margin: 11px;
						background-color: rgba(205, 212, 221, 1);
					}	
				}
				select.form-control.placeholder {
					color: rgba(205, 212, 220, 1);
				}
				select.form-control {
					color: rgba(68, 68, 68, 1);
				}
			}
			button.btn-primary {
				height: 80px;
				width: 101%;
				background: url('../img/lupa.svg') center center no-repeat;
				background-size: 24px 24px;
				background-color: rgba(86, 162, 50, 1);
				border: none;
				text-indent: -9999px;
				cursor: pointer;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
			button.btn-primary:hover {
				background-color: rgba(39, 96, 11, 1);
			}
		}	
	}
}

/* EStilos footer */

footer {
	position: relative;	
	background-color: rgba(41, 58, 125, 1);
	.redes {
		background-color: #FFF;
		margin: 0;
		padding: 11px 0 0;
		text-align: center;
		h3 {
			display: inline-block;
			font-size: 1rem;
			margin-right: 10px;
		}
		ul {
			text-align: center;
			display: inline-block;
			li {
				display: inline-block;
				margin: 8px 11px;
				a {
					display: inline-block;
					height: 30px;
					font-family: 'robotobold';
					font-size: 1rem;
					color: rgba(42, 59, 125, 1);
					padding: 0px;
					img {						
						height: 30px;
						width: 30px;
						margin-right: 6px;
						margin-top: -3px;
					}
				}
				a:hover {
					color: rgba(42, 59, 125, 1);
				}
			}
		}
	}
	div {
		font-family: 'robotomedium';
		font-size: 0.94rem;
		color: rgba(255, 255, 255, 1);
	}
	.col-md-2 {
		position: relative;
		padding-top: 55px; 
		max-width: 14%;
		span.borde {
			position: absolute;
			top: 48px;
			right: 5px;
			width: 1px;
			height: 196px;
			display: block;
			background-color: rgba(64, 156, 255, 1);
		}
	}
	.col-md-2.first {
		max-width: 16%;
	}
	h3 {
		font-size: 0.94rem;
		line-height: 21px;
		color: rgba(65, 156, 255, 1);
	}
	ul {
		li { 
			a {
				font-family: 'robotomedium';
				font-size: 0.94rem;
				color: rgba(255, 255, 255, 1);
			}
			a:hover {
				color: rgba(244, 209, 1, 1);
			}
		}
	}
	> img {
		position: absolute;
		display: inline-block;
		width: 30%;
		max-width: 270px !important;
		bottom: 0;
		left: 50%;
		margin-left: -10%;
	}
}

/* Estilos carruseles*/

.carruseles {
	padding: 90px 0 40px;
	.container .row > div {
		text-align: center;
		margin-bottom: 50px;
	}
	h2 {
		width: 100%;
		font-size: 1.72rem;
		color: rgba(205, 212, 220, 1);
		text-align: left;
		margin-bottom: 2rem;
	}
	a {
		position: absolute;
		top: 4px;
		right: 18px;
		font-family: 'robotoregular';
		font-size: 1.08rem;
		color: rgba(205, 212, 220, 1);
		text-align: left;
		span {			
			vertical-align: middle;
			margin-left: 6px;
		}
		span:before {
			color: rgba(205, 212, 220, 1);
		}
	}
	a:hover {
		text-decoration: none;
		color: rgba(42, 59, 125, 1);
		span:before {
			color: rgba(42, 59, 125, 1);
		}
	}
	.carousel-indicators {
		bottom: -45px;
		li {
			background-color: white;
			border: 1px solid rgba(41, 58, 125, 1);
			height: 10px;
			max-width: 10px !important;
			border-radius: 5px;
		}
		.active {
			background-color: rgba(41, 58, 125, 1);
		}
	}
}
.carruseles .sombra {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100% !important;
	height: 60%;
	background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 30, 81, 1) 100%);
	z-index: 10;
	border-radius: 4px !important;
}
.carruseles {
	.carousel {
		border-radius: 4px !important;
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
	}
}
.carruseles .carousel-item {
	color: #fff;
	border-radius: 10px;
	border-radius: 4px !important;
	img {
		max-height: 375px;
		border-radius: 4px !important;
	}
	h4 {
		position: absolute;
		top: 35px;
		left: 0;
		display: inline-block;
		padding: 0.72rem 0.5rem 0.65rem 1.58rem ;
		height: 38px;
		font-family: 'robotomedium_italic';
		font-size: 1.15rem;

		background-color: rgba(249, 156, 23, 1);
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
		span {
			position: absolute;
			top: 0px;
			right: -19px;
			width: 0; 
			height: 0; 
			border-left: 19px solid rgba(249, 156, 23, 1);
			border-top: 19px solid transparent;
			border-bottom: 19px solid transparent;
		}
	}
	h3 {
		display: block;
		width: 100%;
		max-width: 710px;
		padding: 0 2.65rem;
		margin: 0;
		position: absolute;
		bottom: 30px;
		left: 0;
		font-size: 1.72rem;
		line-height: 32px;
		z-index: 20;
		text-align: left;
		color: #fff;
	}
	img {
	}
	.info {
		position: absolute;
		bottom: 37px;
		left: 0;
		width: 100%;
		z-index: 20;
		text-align: center;
		h3 {
			position: relative;
			padding: 0;
			width: auto;
			max-width: 198px;
			bottom: auto;
			text-align: left;
			vertical-align: bottom;
			margin-bottom: -8px;
		}
		.fecha {
			font-family: 'robotobold';
			width: 80px;
			margin-right: 22px;
			font-size: 3.15rem;
			color: rgba(68, 68, 68, 1);
			background-color: rgba(255, 255, 255, 1);
			border-radius: 4px;
			box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
			text-align: center;
			span {
				display: block;
				font-family: 'robotomedium';
				font-size: 1.43rem;
				color: rgba(255, 255, 255, 1);
				background-color: rgba(227, 56, 56, 1);
				border-bottom: 4px solid rgba(166, 29, 29, 1);
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				text-transform: uppercase;

			}
		}
	}
}

/* Estilos nuestros municipios */

.nuestros-mun {
	background-image: url("../img/nuestrosmuni.jpg");
	background-size: 100%;	
	.degradado {
		background: linear-gradient(-180deg, rgba(41, 58, 125, 0.45) 0%, rgba(31, 45, 103, 1) 100%);
		padding-bottom: 66px;
	}
	.container {
		h2 {
			width: 100%;
			color: #fff;
			font-size: 3.1rem;
			margin: 5rem 0 4.6rem;
		}
		.col-md-6 {
			> div {
				border-radius: 4px;
				box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
				background-color: rgba(86, 162, 50, 1);
			}
			h3 {
				font-size: 1.73rem;
				color: rgba(39, 96, 12, 1);
			}
			p {
				font-family: 'robotoregular';
				font-size: 1rem;
				line-height: 22px;
				color: #fff;
			}
			.informacion {
				position: relative;
				display: inline-block;
				width: 49%;
				padding: 24px;
			}
			img {
				display: inline-block;
				width: 50%;
				float: right;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}
			a {
				position: absolute;
				right: 23px;
				font-family: 'robotoregular';
				color: rgba(244, 209, 1, 1);
				font-size: 1rem;
				text-align: left;
				span {
					vertical-align: middle;
					margin-left: 7px;
				}
			}
			a:hover {
				text-decoration: none;
				color: #fff;
				span:before {
					color: #fff;
				}
			}
		}
	}
}

/* Estilos te puede interrsar*/

.interes {
	background-color: #F9FAFB;
	padding-bottom: 3.6rem;
	.container {
		h2 {
			width: 100%;
			font-size: 3.1rem;
			color: rgba(143, 151, 162, 1);
			margin: 5rem 0 4.6rem;
		}
		.col-md-3 {
			margin-bottom: 30px;
			img {
				border-top-right-radius: 4px;
				border-top-left-radius: 4px;
			}
			div {
				background-color: #ffffff;
				border-radius: 4px;
				box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
				padding-bottom: 20px;
			}
			h3 {
				font-size: 1.29rem;
				color: rgba(184, 24, 43, 1);
				margin-bottom: 5px;
				margin-top: 17px;
			}
			span {
				font-family: 'robotoregular';
				font-size: 1rem;
				color: rgba(143, 151, 162, 1);
				margin-bottom: 22px;
			}

			a.btn {
				background-color: transparent;
				border-color: rgba(86, 162, 50, 1);
				color: rgba(86, 162, 50, 1);
				font-family: 'roboto_slabregular';
				font-size: 1.08rem;
				border-radius: 8px;
				padding: 11px 1.6rem 10px;
			}
			a.btn:hover {
				background-color: rgba(86, 162, 50, 1);
				color: #FFFFFF;
			}
		}
	}
}

/* Estilos municipio del mes */

.municipio-mes {
	.container-responsive {
		.row {
			margin-right: 0; 
		}
		.row > div {
			background-color: rgba(184, 24, 43, 1);
		}
		img {
			width: 100%;
		}
		.informacion {
			text-align: center;
			color: #FFF;
			padding: 35px 17.5px;
			.flex-parent {
				width: 100%;
				max-width: 430px;
				height: 100%;
				border: 1px solid #CD5D6B;
				padding: 0 21px;
				display: -ms-flex;
				display: -webkit-flex;
				display: flex;
				.flex-child{
					display: -ms-flex;
					display: -webkit-flex;
					display: flex;
					justify-content: center;
					flex-direction: column;
				}
			}
			h2 {
				font-size: 2.86rem;
				color: rgba(244, 209, 1, 1);
				span {
					display: inline-block;
					height: 1px;
					width: 36px;
					background-color:rgba(244, 209, 1, 1);
					vertical-align: middle;
					margin: 0 10px;
				}
			}
			h3 {
				font-size: 1.43rem;
				font-family: 'robotomedium';
				margin-bottom: 31px;
			}
			p {
				line-height: 22px;
				margin-bottom: 28px;
			}
			a.btn-primary {
				background-color: transparent;
				border-color: #ffffff;
				color: #ffffff;
				font-family: 'roboto_slabregular';
				font-size: 1.08rem;
				border-radius: 8px;
				padding: 11px 1.6rem 10px;
				width: 140px !important;
			}
			a:hover {
				background-color: rgba(244, 209, 1, 1);
				border-color: rgba(244, 209, 1, 1);
			}
		}
	}
}

/* Estilos pagimas internas */

.interna {
	padding-top: 300px;
	background-color: #F9FAFB;
	/* Estilos miga de pan */
	.miga {
		color: rgba(143, 151, 162, 1);
		margin-bottom: 2.2rem;
		.d-inline-block {
			vertical-align: top;
		}
		.breadcrumb {
			background-color: transparent;
			.breadcrumb-item {
				color: rgba(65, 156, 255, 1);
				a {
					color: rgba(65, 156, 255, 1);
				}
				+ .breadcrumb-item::before {
					padding-right: 0.3rem;
					padding-left: 0.3rem;
					color: rgba(143, 151, 162, 1);
					content: ">";
				}
			}
			.active {
				font-family: 'robotomedium';
			}
		}		
	}

	/* Estilos contenido */
	
	.content {
		width: 100%;
		background-color: #ffffff;
		border-radius: 4px;
		box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
		h2 {
			padding: 1.15rem 2.93rem 1.3rem;
			background-color: rgba(86, 162, 50, 1);
			font-size: 2.15rem;
			color: rgba(255, 255, 255, 1);
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
	}
}